{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="content-wrapper  js-content-wrapper mt-40">

      <section class="page-header -type-1">
        <div class="container">
          <div class="page-header__content">
            <div class="row justify-center text-center">
              <div class="col-auto">
                <div data-anim="slide-up delay-1">
                  <h1 class="page-header__title lh-14">{{ blog.title }}</h1>
                  <p class="page-header__text">{{ blog.date|date:"F j, Y" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="layout-pt-md pt-0 ">
        <div class="container">
          <div class="ratio ratio-16:9 rounded-8 bg-image js-lazy" data-bg="{{ blog.photo.url }}"></div>
        </div>
      </section>

      <section class="layout-pt-md layout-pb-lg pb-40">
        <div class="container">
          <div class="blogSection">
            <div class="blogCard">
              <div class="row justify-center">
                <div class="col-xl-8 col-lg-9 col-md-11">
                  <div class="blogCard__content">

                    {{ blog.description|safe }}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% if related_blogs %}
        <section class="layout-pt-lg layout-pb-lg bg-light-4 pt-40">
          <div data-anim-wrap class="container">
            <div data-anim-child="slide-up delay-1" class="row justify-center text-center">
              <div class="col-auto">

                <div class="sectionTitle ">

                  <h2 class="sectionTitle__title ">Related Posts</h2>

                  <p class="sectionTitle__text ">10,000+ unique online course list designs</p>

                </div>

              </div>
            </div>

            <div class="row y-gap-30 pt-60">

              {% for related in related_blogs %}
                <a href="{% url 'blog' related.slug %}" class="blogCard -type-1">
                  <div class="col-lg-3 col-md-6">
                    <div data-anim-child="slide-up delay-2" class="blogCard -type-1">
                      <div class="blogCard__image">
                        <img src="{{ related.photo.url }}" alt="image">
                      </div>
                      <div class="blogCard__content mt-20">
                        <a href="{% url 'blog' related.slug %}" class="blogCard__category">{{ related.title }}</a>
                        <h4 class="blogCard__title text-17 lh-15 mt-5">{{ related.description|safe|truncatewords:4 }}</h4>
                        <div class="blogCard__date text-14 mt-5">{{ related.date|date:"F j, Y" }}</div>
                      </div>
                    </div>
                  </div>
                </a>
              {% endfor %}

            </div>
          </div>
        </section>
      {% endif %}

{% endblock %}