{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="content-wrapper  js-content-wrapper pt-80">
<style>
  .btnS{
    margin: 15px;
    text-align: center;
  }
  
  .mybtn{
          border-radius:3px;
          text-decoration:none;
          font-family:sans-serif;
          font-size:20px;
          padding: 10px 20px;
          background-color:#00ad25;
          color:white;
          transition-delay:.2s;
          transition:.3s;
          font-variant-caps:all-small-caps;
          box-shadow:4px 3px 11px 0 #00ad25;
          }
  .mybtn:hover{
          background-color:#009420;
          box-shadow:4px 3px 11px 0 #005a13;
          }

</style>

      <div class="js-pin-container">
        <section class="page-header -type-5">
          <div class="page-header__bg">
            <div class="bg-image js-lazy" data-bg="img/event-single/bg.png"></div>
          </div>

          <div class="container">
            <div class="page-header__content pt-60">
              <div class="row y-gap-30 relative">
                <div class="col-xl-7 col-lg-8">
                  <div class="d-flex x-gap-15 y-gap-10 pb-20">
                    <div>
                      <div class="badge px-15 py-8 text-11 bg-purple-1 text-white fw-400">{{course.category.name}}</div>
                    </div>
                  </div>

                  <div data-anim="slide-up delay-1">
                    <h1 class="text-30 lh-14 pr-60 lg:pr-0">{{ course.title }}</h1>
                  </div>

                </div>

                <div class="col-lg-8">
                  <div class="relative pt-40">
                    <img class="w-1/1" src="{{ course.main_photo.url }}" alt="image">
                    <div class="absolute-full-center d-flex justify-center items-center">
                      <a href="{{ course.video_link }}" class="d-flex justify-center items-center size-60 rounded-full bg-white js-gallery" data-gallery="gallery1">
                        <div class="icon-play text-18"></div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="courses-single-info js-pin-content">
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="pt-30 layout-pb-md">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="pt-25 pb-30 px-30 bg-white shadow-2 rounded-8 border-light">
                  <div class="tabs -active-purple-2 js-tabs pt-0">
                    <div class="tabs__controls d-flex js-tabs-controls">
                      <button class="tabs__button js-tabs-button js-update-pin-scene is-active" data-tab-target=".-tab-item-1" type="button">
                        Ümumi baxış
                      </button>
                      <button class="tabs__button js-tabs-button js-update-pin-scene ml-30" data-tab-target=".-tab-item-2" type="button">
                        Kursun məzmunu
                      </button>
                      <button class="tabs__button js-tabs-button js-update-pin-scene ml-30" data-tab-target=".-tab-item-3" type="button">
                        Rəylər
                      </button>
                      <button class="tabs__button js-tabs-button js-update-pin-scene ml-30" data-tab-target=".-tab-item-4" type="button">
                        Qeydiyyat
                      </button>
                      <button class="tabs__button js-tabs-button js-update-pin-scene ml-30" data-tab-target=".-tab-item-5" type="button">
                        Qaleriya
                      </button>
                    </div>

                    <div class="tabs__content pt-60 lg:pt-40 js-tabs-content">
                      <div class="tabs__pane -tab-item-1 is-active">
                        <h4 class="text-18 fw-500">Ətraflı məlumat</h4>

                        <div class="show-more mt-30 js-show-more">
                          <div class="show-more__content">
                            <p class="">{{ course.description }}</p>
                          </div>

                          <button class="show-more__button text-purple-1 fw-500 underline mt-30">Daha çox</button>
                        </div>

                      </div>

                      <div class="tabs__pane -tab-item-2">
                        <h2 class="text-20 fw-500">Kursun məzmunu</h2>

                        <div class="d-flex justify-between items-center mt-30">
                          {% comment %} <div class="">27 sections • 95 lectures</div> {% endcomment %}
                          {% comment %} <a href="#" class="underline text-purple-1">Expand All Sections</a> {% endcomment %}
                        </div>

                        <div class="mt-10">
                          <div class="accordion -block-2 text-left js-accordion">

                            {% for c_pro in course_programs %}
                              <div class="accordion__item">
                                <div class="accordion__button py-20 px-30 bg-light-4">
                                  <div class="d-flex items-center">
                                    {% if c_pro.description %}
                                    <div class="accordion__icon">
                                      <div class="icon" data-feather="chevron-down"></div>
                                      <div class="icon" data-feather="chevron-up"></div>
                                    </div>
                                    {% endif %}
                                    <span class="text-17 fw-500 text-dark-1">{{ c_pro.program_name }}</span>
                                  </div>

                                </div>
                                {% if c_pro.description %}
                                <div class="accordion__content">
                                  <div class="accordion__content__inner px-30 py-30">
                                    <div class="y-gap-20">
                                      <div class="d-flex justify-between">
                                        <div class="d-flex items-center">

                                          {% if c_pro.description %}
                                            <div>{{ c_pro.description|safe }}</div>
                                          {% endif %}

                                        </div>
                                        {% if c_pro.file %}
                                          <div class="d-flex x-gap-20 items-center">
                                            <div class="btnS">
                                              <a class="mybtn" style="color:white!important" target="_blank" href="{{ c_pro.file.url }}" class="text-14 lh-1 text-purple-1 underline">Fayla bax</a>
                                            </div>
                                            <div class="btnS">
                                              <a class="mybtn" style="color:white!important" download href="{{ c_pro.file.url }}" class="text-14 lh-1 text-purple-1 underline">Yüklə</a>
                                            </div>
                                          </div>
                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                {% endif %}
                              </div>

                            {% endfor %}

                          </div>
                        </div>
                      </div>

                      <div class="tabs__pane -tab-item-3">
                        <div class="blogPost -comments">
                          <div class="blogPost__content">
                            <h2 class="text-20 fw-500">
                              Rəylər
                            </h2>

                            <ul class="comments__list mt-30">

                              {% for review in reviews %}

                                <li class="comments__item">
                                  <div class="comments__item-inner md:direction-column">
                                    <div class="comments__img mr-20">
                                      <div class="bg-image rounded-full js-lazy" data-bg="{{ review.course.main_photo.url }}"></div>
                                    </div>

                                    <div class="comments__body md:mt-15">
                                      <div class="comments__header">
                                        <h4 class="text-17 fw-500 lh-15">
                                          {{ review.student.first_name }} {{ review.student.last_name }}
                                          <span class="text-13 text-light-1 fw-400">{{ review.created_at }}</span>
                                        </h4>
                                      </div>

                                      <div class="comments__text mt-10">
                                        <p>{{ review.message }}</p>
                                      </div>
                                    </div>
                                  </div>
                                </li>

                              {% endfor %}


                            </ul>
                          </div>
                        </div>

                        {% if user.is_authenticated and user_review %}

                          <div class="respondForm pt-30">
                            <h3 class="text-20 fw-500">
                              Rəy əlavə et
                            </h3>

                            <form method="post" class="contact-form respondForm__form row y-gap-30 pt-30" action="#">

                              {% csrf_token %}

                              <div class="col-12">
                                <label for="id_message" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ feedback_form.message.label }}</label>
                                {{ feedback_form.message }}
                              </div>
                              <div class="col-12">
                                <button type="submit" name="submit" id="submit" class="button -md -purple-1 text-white">
                                  Əlavə et
                                </button>
                              </div>
                            </form>

                          </div>

                        {% endif %}
                      </div>

                      <div class="tabs__pane -tab-item-4">

                        <h3 class="text-20 fw-500">
                          Rəy əlavə et
                        </h3>
                          <div class="respondForm pt-30">

                            <form method="post" class="contact-form respondForm__form row y-gap-30 pt-30">

                              {% csrf_token %}
                              {{ request_form.as_hidden }}
                              <div class="col-12">
                                <label for="id_fullname" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ request_form.fullname.label }}</label>
                                {{ request_form.fullname }}
                              </div>
                              <div class="col-12">
                                <label for="id_phone_number" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ request_form.phone_number.label }}</label>
                                {{ request_form.phone_number }}
                              </div>
                              <div class="col-12" style="display: none;">
                                <label for="id_course" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ request_form.course.label }}</label>
                                {{ request_form.course }}
                              </div>
                              <div class="col-12">
                                <button type="submit" name="submit" id="submit" class="button -md -purple-1 text-white">
                                  Əlavə et
                                </button>
                              </div>
                            </form>

                          </div>

                      </div>

                      <div class="tabs__pane -tab-item-5">

                        <h3 class="text-20 fw-500">
                          Şəkillər
                        </h3>
                          <div class="respondForm pt-30">
                            <div>
                              {% for i in galleries %}
                                <img src="{{ i.photo.url }}" alt="" style="width: 250px; height: 160px; object-fit: cover;">
                              {% endfor %}
                            </div>
                          </div>

                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

      {% if related_course %}
      <section class="layout-pt-md layout-pb-lg">
        <div data-anim-wrap class="container">
          <div class="row">
            <div class="col-auto">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Oxşar kurslar</h2>

                {% comment %} <p class="sectionTitle__text ">10,000+ unique online course list designs</p> {% endcomment %}

              </div>

            </div>
          </div>

          <div class="relative pt-60 lg:pt-50">
            <div class="overflow-hidden js-section-slider" data-gap="30" data-loop data-pagination data-nav-prev="js-courses-prev" data-nav-next="js-courses-next" data-slider-cols="xl-4 lg-3 md-2">
              <div class="swiper-wrapper">

                {% for r_course in related_course %}

                  <div data-anim-child="slide-up delay-1" class="swiper-slide">

                    <a href="{% url 'course' r_course.slug %}" class="coursesCard -type-1 ">
                      <div class="relative">
                        <div class="coursesCard__image overflow-hidden rounded-8">
                          <img class="w-1/1" src="{{ r_course.main_photo.url }}" alt="image">
                          <div class="coursesCard__image_overlay rounded-8"></div>
                        </div>
                      </div>
                      <div class="h-100 pt-15">
                        <div class="text-17 lh-15 fw-500 text-dark-1 mt-10">{{ r_course.title }}</div>
                        {{ r_course.description|safe|truncatewords:4 }}
                      </div>
                    </a>

                  </div>

                {% endfor %}
              </div>
            </div>


            <button class="section-slider-nav -prev -dark-bg-dark-2 -white -absolute size-70 rounded-full shadow-5 js-courses-prev">
              <i class="icon icon-arrow-left text-24"></i>
            </button>

            <button class="section-slider-nav -next -dark-bg-dark-2 -white -absolute size-70 rounded-full shadow-5 js-courses-next">
              <i class="icon icon-arrow-right text-24"></i>
            </button>

          </div>
        </div>
      </section>
      {% endif %}
{% endblock %}