{% extends 'base2.html' %}
{% load static %}
{% block content %}

<style>
  .s{
    border: 0;
    outline: none;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    font-size: 15px;
    line-height: 1.5;
    padding: 15px 22px;
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
  }
</style>

          <div class="dashboard__main">
            <div class="dashboard__content bg-light-4">
              <div class="row pb-50 mb-10">
                <div class="col-auto">
                  <h1 class="text-30 lh-12 fw-700">Profil</h1>
                </div>
              </div>

              {% include 'messages.html' %}

              <div class="row y-gap-30">
                <div class="col-12">
                  <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                    <div class="tabs -active-purple-2 js-tabs pt-0">
                      <div class="tabs__controls d-flex x-gap-30 items-center pt-20 px-30 border-bottom-light js-tabs-controls">
                        <button class="tabs__button text-light-1 js-tabs-button is-active" data-tab="tab1" data-tab-target=".-tab-item-1" type="button">
                          Profili yenilə
                        </button>
                        {% if position == 'Tələbə' %}
                          <button class="tabs__button text-light-1 js-tabs-button" data-tab="tab2" data-tab-target=".-tab-item-2" type="button">
                            Sosial şəbəkələr
                          </button>
                        {% endif %}
                        {% if position == 'Tələbə' %}
                          <button class="tabs__button text-light-1 js-tabs-button" data-tab="tab3" data-tab-target=".-tab-item-3" type="button">
                            Mənim təlimlərim
                          </button>
                          {% endif %}
                          {% comment %} <button class="tabs__button text-light-1 js-tabs-button" data-tab="tab4" data-tab-target=".-tab-item-4" type="button">
                            Mənim sertifikatlarım
                          </button> {% endcomment %}
                        <button class="tabs__button text-light-1 js-tabs-button" data-tab="tab5" data-tab-target=".-tab-item-5" type="button">
                          Şifrə Yenilə
                        </button>
                      </div>
                      <div class="tabs__content py-30 px-30 js-tabs-content">
                        <div class="tabs__pane -tab-item-1 is-active" data-pane="tab1">
                          <form method="post" name="x1" class="contact-form" enctype="multipart/form-data">
                            <div class="row y-gap-20 x-gap-20 items-center">
                              <div class="col-auto">
                                <img class="size-100" style="border-radius: 50%;"src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'img/avatars/user-default.png' %}{% endif %}" alt="image">
                              </div>
                              <div class="col-auto">
                                <div class="text-16 fw-500 text-dark-1">{{ user.get_full_name|capfirst }}</div>
                                {% comment %} <div class="text-14 lh-1 mt-10">PNG or JPG no bigger than 800px wide and tall.</div> {% endcomment %}

                                <div class="d-flex x-gap-10 y-gap-10 flex-wrap pt-15">
                                  <div>
                                    <div class="d-flex justify-center items-center size-40 rounded-8 bg-light-3">
                                      <label for="hola123" class="icon-cloud text-16"></label>
                                      <input type="file" name="hola123" id="hola123" style="display: none;">
                                    </div>
                                  </div>
                                  {% comment %} <div>
                                    <div class="d-flex justify-center items-center size-40 rounded-8 bg-light-3">
                                      <div class="icon-bin text-16"></div>
                                    </div>
                                  </div> {% endcomment %}
                                </div>
                              </div>
                            </div>
                            <div class="border-top-light pt-30 mt-30 row y-gap-30">

                                {% csrf_token %}

                                {% if form1.errors %}
                                  <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                      {% for key, value in form1.errors.items %}
                                        <strong>{{ value }}{{ key }}</strong>
                                      {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  </div>
                                {% endif %}

                                <div class="col-md-4">
                                    <label for="id_number" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.number.label }}</label>
                                    {{ form1.number }}
                                  </div>
    
                                  <div class="col-md-4">
                                    <label for="id_email" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.email.label }}</label>
                                    {{ form1.email }}
                                  </div>
    
                                  <div class="col-md-4">
                                    <label for="id_birthday" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.birthday.label }}</label>
                                    {{ form1.birthday }}
                                  </div>
    
                                  {% if position == 'Tələbə' %}
                                  <div class="col-md-12">
                                    <label for="id_feedback" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.feedback.label }}</label>
                                    {{ form1.feedback }}
                                  </div>
                                  {% endif %}

                                  <div class="col-md-12">
                                    <label for="id_bio" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.bio.label }}</label>
                                    {{ form1.bio }}
                                  </div>

                                  {% if position == 'Tələbə' %}
                                    <div class="col-md-12">
                                      <label for="id_cv" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.cv.label }}: </label>
                                      {{ form1.cv }}
                                    </div>
                                  {% endif %}
                                  <input type="hidden" name="form_name" value="form1">

                                <div class="col-12">
                                  <button class="button -md -dark-1 text-white">Yenilə</button>
                                </div>
                            </div>
                        </form>
                        </div>

                        {% if user.staff_status == 'Tələbə' %}
                          <div class="tabs__pane -tab-item-2" data-pane="tab2">
                            <form method="post" name="x2" class="contact-form row y-gap-30">

                              {% csrf_token %}

                              {% if form2.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                  <div id="form_errors">
                                    {% for key, value in form2.errors.items %}
                                      <strong>{{ value }}{{ key }}</strong>
                                    {% endfor %}
                                  </div>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                              {% endif %}

                              <div class="col-md-6">
                                  <label for="id_instagram" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.instagram.label }}</label>
                                  {{ form2.instagram }}
                                </div>

                                <div class="col-md-6">
                                  <label for="id_twitter" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.twitter.label }}</label>
                                  {{ form2.twitter }}
                                </div>

                                <div class="col-md-6">
                                  <label for="id_facebook" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.facebook.label }}</label>
                                  {{ form2.facebook }}
                                </div>

                                <div class="col-md-6">
                                  <label for="id_github" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.github.label }}</label>
                                  {{ form2.github }}
                                </div>

                                <div class="col-md-6">
                                  <label for="id_youtube" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.youtube.label }}</label>
                                  {{ form2.youtube }}
                                </div>

                                <div class="col-md-6">
                                  <label for="id_linkedIn" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.linkedIn.label }}</label>
                                  {{ form2.linkedIn }}
                                </div>
                                <input type="hidden" name="form_name" value="form2">

                              <div class="col-12">
                                <button class="button -md -dark-1 text-white">Əlavə et</button>
                              </div>
                            </form>
                          </div>
                        {% endif %}

                        {% if user.staff_status == 'Tələbə' %}
                          <div class="tabs__pane -tab-item-3" data-pane="tab3">

                            <style>
                              .tDiv{
                                width:100%;
                                overflow-x:scroll;
                              }

                              {% comment %} .dif{
                                display:block!important;
                              } {% endcomment %}

                              .wt{
                                min-width:30px!important;
                                height:30px!important;
                                padding:8px!important;
                                float:left!important;
                                margin:5px;
                              }

                              .menusuboper{
                                width: 195px;
                                height:40px;
                                float: left;
                              }

                              .c{
                                color: white!important;
                              }

                              table.table td{
                                padding: 10px;
                              }
                              .tc {
                                text-align: center!important;
                              }
                            </style>

                            <div class="tDiv">
                              <div class="table-responsive">
                                <table class="table" style="margin-top:25px; padding: 0px;">
                                  <thead>
                                    <tr>
                                      <th>№</th>
                                      <th>Təlimlər</th>
                                      <th>Təlim şəkili</th>
                                      <th>Qruplar</th>
                                      <th>Ortalama balı</th>
                                      <th>Ödəniş</th>
                                      <th>Endirim</th>
                                      <th>Qalıq</th>
                                      <th>Məzun</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>

                                    {% for my_c in my_course %}
                                      <tr>
                                        <td class="tc">{{ forloop.counter }}</td>
                                        <td class="tc">{{ my_c.group.course.title }}</td>
                                        <td class="tc"><img width="50" height="50" src="{{ my_c.group.course.main_photo.url }}" alt=""></td>
                                        <td class="tc">{{ my_c.group.name }}</td>
                                        <td class="tc">{{ my_c.average }}</td>
                                        <td class="tc">{{ my_c.payment }}</td>
                                        <td class="tc">{{ my_c.discount }}</td>
                                        <td class="tc">{{ my_c.rest }}</td>
                                        <td class="tc">
                                          {% if my_c.is_active %}
                                            <span style="color: green;">Məzun</span>
                                            {% else %}
                                            <span style="color: red;">Tələbə</span>
                                          {% endif %}
                                        </td>
                                        <td class="tc">
                                          {% if my_c.group_student_is_active %}
                                            <span style="color: green;">Aktiv</span>
                                            {% else %}
                                            <span style="color: red;">Deaktiv</span>
                                          {% endif %}
                                        </td>
                                      </tr>
                                    {% endfor %}

                                  </tbody>
                                </table>
                              </div>
                            </div>

                          </div>
                        {% endif %}

                        {% comment %} <div class="tabs__pane -tab-item-4" data-pane="tab4">
                          <div class="row y-gap-10 ">
                            <div class="col-auto">
                              <div class="d-flex flex-wrap y-gap-10 x-gap-20">
                                <div>
                                </div>
                                <div>
                                  <a href="{% url "service_image_add" %}" class="button -icon -purple-3 h-50 text-purple-1" title="Əlavə et" style="background:#5cb85c;color:white!important;">
                                    Əlavə et &nbsp;&nbsp; &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row y-gap-30 pt-30">

                            {% for c in certificates %}

                            <div class="w-1/5 xl:w-1/3 lg:w-1/2 sm:w-1/1">

                              <div class="relative">
                                {% if c.extension == ".pdf" %}

                                <a target="_blank" href="{{ c.url }}"><img class="rounded-8 w-1/1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png" alt="image" width="300px" style="height: 160px!important; object-fit: contain;"></a>
                                <div class="absolute-button  -dshb-more js-more-{{ c.pk }}-toggle">
                                  <div class=" bg-white -dark-bg-dark-2 shadow-1 border-light rounded-8">
                                    <form method="post" action="#">
                                      {% csrf_token %}
                                      <button  class="rounded-8 delBut" type="submit" onclick="return confirm('Şəkili tam silmək istədiyinizə əminsiniz?');">
                                        <i class="fa fa-trash c" aria-hidden="true">asasas</i> 
                                      </button>
                                    </form>
                                  </div>
                                </div>
                                {% else %}
                                <img target="_blank" class="rounded-8 w-1/1" src="{{ c.certificate.url }}" alt="image" width="300px" style="height: 160px!important; object-fit: cover;">
                                <div class="absolute-button  -dshb-more js-more-{{ c.pk }}-toggle">
                                  <div class=" bg-white -dark-bg-dark-2 shadow-1 border-light rounded-8">
                                    <form method="post" action="#">
                                      {% csrf_token %}
                                      <button  class="rounded-8 delBut" type="submit" onclick="return confirm('Şəkili tam silmək istədiyinizə əminsiniz?');">
                                        <i class="fa fa-trash c" aria-hidden="true"></i> 
                                      </button>
                                    </form>
                                  </div>
                                </div>
                                {% endif %}
                                
                                
                                
                              </div>
                            </div>

                            {% endfor %}

                          </div>


                        </div> {% endcomment %}

                        <div class="tabs__pane -tab-item-5" data-pane="tab5">
                          <form method="post" name="x3" class="contact-form row y-gap-30">

                            {% csrf_token %}

                            {% if change_password_form.errors %}
                              <div class="alert alert-danger alert-dismissible" role="alert">
                                  <div id="form_errors">
                                      {% for key, value in change_password_form.errors.items %}
                                          <strong>{{ value }}</strong>
                                      {% endfor %}
                                  </div>
                              </div>
                            {% endif %}

                            <div class="col-md-8">
                                <label for="id_old_password" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ change_password_form.old_password.label }}</label>
                                {{ change_password_form.old_password }}
                              </div>

                              <div class="col-md-8">
                                <label for="id_new_password1" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ change_password_form.new_password1.label }}</label>
                                {{ change_password_form.new_password1 }}
                              </div>

                              <div class="col-md-8">
                                <label for="id_new_password2" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ change_password_form.new_password2.label }}</label>
                                {{ change_password_form.new_password2 }}
                              </div>
                              <input type="hidden" name="form_name" value="change_password_form">

                            <div class="col-12">
                              <button class="button -md -dark-1 text-white">Əlavə et</button>
                            </div>
                          </form>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% comment %} <footer class="footer -dashboard py-30">
              <div class="row items-center justify-between">
                <div class="col-auto">
                  <div class="text-13 lh-1">© 2022 Educrat. All Right Reserved.</div>
                </div>

              </div>
            </footer> {% endcomment %}
{% endblock %}

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.js-example-basic-single').select2();
    })
  </script>
</body>

</html>