{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static "css/vendors.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">

  <title>Texnolab</title>
</head>

<style>
  .s{
    border: 0;
    outline: none;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    font-size: 15px;
    line-height: 1.5;
    padding: 15px 22px;
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
  }
</style>

<body class="preloader-visible" data-barba="wrapper">
  <div class="preloader js-preloader">
    <div class="preloader__bg"></div>
  </div>
  <div class="barba-container" data-barba="container">
    <main class="main-content">
      <header class="header -dashboard -dark-bg-dark-1 js-header">
        <div class="header__container py-20 px-30">
          <div class="row justify-between items-center">
            <div class="col-auto">
              <div class="d-flex items-center">
                <div class="header__explore text-dark-1">
                  <button class="d-flex items-center js-dashboard-home-9-sidebar-toggle">
                    <i class="icon -dark-text-white icon-explore"></i>
                  </button>
                </div>

                <div class="header__logo ml-30 md:ml-20">
                  <a data-barba href="{% url "index" %}">
                    <img class="-light-d-none" src="{% static 'img/_texno_imgs/base_logo.png' %}" width="175px" height="50px" alt="logo">
                    <img class="-dark-d-none" src="{% static 'img/_texno_imgs/home_logo.png' %}" width="175px" height="50px" alt="logo">
                  </a>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <div class="d-flex items-center">
                

                <div class="d-flex items-center sm:d-none">
                  <div class="relative">
                    <button class="js-darkmode-toggle text-light-1 d-flex items-center justify-center size-50 rounded-16 -hover-dshb-header-light">
                      <i class="text-24 icon icon-night"></i>
                    </button>
                  </div>
                </div>

                <div class="relative d-flex items-center ml-10">
                  <a href="#" data-el-toggle=".js-profile-toggle">
                    <img class="size-50" style="border-radius: 50%;" src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'img/avatars/user-default.png' %}{% endif %}" alt="image">
                  </a>
                  <div class="toggle-element js-profile-toggle">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="content-wrapper js-content-wrapper">
        <div class="dashboard -home-9 js-dashboard-home-9">
          <div class="dashboard__sidebar scroll-bar-1">
            <div class="sidebar -dashboard">
              <div class="sidebar__item">
                <a href="{% url 'index' %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-discovery mr-15"></i>
                  Ana səhifə
                </a>
              </div>
              <div class="sidebar__item ">
                <a href="{% url "blog" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-play-button mr-15"></i>
                  Xəbərlər
                </a>
              </div>
              <div class="sidebar__item ">
                <a href="{% url 'course' %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-bookmark mr-15"></i>
                  Təlimlər
                </a>
              </div>
              <div class="sidebar__item ">
                <a href="{% url 'about' %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-message mr-15"></i>
                  Haqqımızda
                </a>
              </div>
              <div class="sidebar__item ">
                <a href="{% url 'contact' %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-list mr-15"></i>
                  Əlaqə
                </a>
              </div>
              <div class="sidebar__item ">
                <a href="{% url 'change_password' %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-list mr-15"></i>
                  Şifrəni dəyiş
                </a>
              </div>
              <div class="sidebar__item -is-active -dark-bg-dark-2">
                <a href="{% url 'profile' %}" class="d-flex items-center text-17 lh-1 fw-500 -dark-text-white">
                  <i class="text-20 icon-setting mr-15"></i>
                  Profil
                </a>
              </div>
              <div class="sidebar__item ">
                <a href="{% url "logout" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-power mr-15"></i>
                  Logout
                </a>
              </div>
            </div>
          </div>
          <div class="dashboard__main">
            <div class="dashboard__content bg-light-4">
              <div class="row pb-50 mb-10">
                <div class="col-auto">
                  <h1 class="text-30 lh-12 fw-700">Profil</h1>
                </div>
              </div>

              {% include 'messages.html' %}

              <div class="row y-gap-30">
                <div class="col-12">
                  <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                    <div class="tabs -active-purple-2 js-tabs pt-0">
                      <div class="tabs__controls d-flex x-gap-30 items-center pt-20 px-30 border-bottom-light js-tabs-controls">
                        <button class="tabs__button text-light-1 js-tabs-button is-active" data-tab-target=".-tab-item-1" type="button">
                          Profili yenilə
                        </button>
                        <button class="tabs__button text-light-1 js-tabs-button" data-tab-target=".-tab-item-2" type="button">
                          Sosial şəbəkələr
                        </button>
                        {% if user.is_staff == False and user.is_superuser == False %}
                          <button class="tabs__button text-light-1 js-tabs-button" data-tab-target=".-tab-item-3" type="button">
                            Mənim təlimlərim
                          </button>
                        {% endif %}
                        {% comment %} <button class="tabs__button text-light-1 js-tabs-button" data-tab-target=".-tab-item-4" type="button">
                          Mənim sertifikatlarım
                        </button> {% endcomment %}
                      </div>
                      <div class="tabs__content py-30 px-30 js-tabs-content">
                        <div class="tabs__pane -tab-item-1 is-active">
                          <div class="row y-gap-20 x-gap-20 items-center">
                            <div class="col-auto">
                              <img class="size-100" style="border-radius: 50%;"src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'img/avatars/user-default.png' %}{% endif %}" alt="image">
                            </div>
                          </div>
                          <div class="border-top-light pt-30 mt-30">
                            <form method="post" class="contact-form row y-gap-30" enctype="multipart/form-data">

                              {% csrf_token %}

                              {% if form1.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                  <div id="form_errors">
                                    {% for key, value in form1.errors.items %}
                                      <strong>{{ value }}{{ key }}</strong>
                                    {% endfor %}
                                  </div>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                              {% endif %}

                              <div class="col-md-6">
                                  <label for="id_number" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.number.label }}</label>
                                  {{ form1.number }}
                                </div>
  
                                <div class="col-md-6">
                                  <label for="id_email" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.email.label }}</label>
                                  {{ form1.email }}
                                </div>
  
                                <div class="col-md-6">
                                  {{ form1.image }}
                                </div>
  
                                {% if user.is_staff == False and user.is_superuser == False %}
                                <div class="col-md-12">
                                  <label for="id_feedback" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.feedback.label }}</label>
                                  {{ form1.feedback }}
                                </div>
                                {% endif %}
                                <div class="col-md-12">
                                  <label for="id_bio" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.bio.label }}</label>
                                  {{ form1.bio }}
                                </div>

                                <div class="col-md-12">
                                  <label for="id_cv" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form1.cv.label }}: </label>
                                  {{ form1.cv }}
                                </div>

                            <div class="col-12">
                              <button class="button -md -purple-1 text-white">Update Profile</button>
                            </div>
                          </form>
                          </div>
                        </div>
                        <div class="tabs__pane -tab-item-2">
                          <form method="post" class="contact-form row y-gap-30">

                            {% csrf_token %}

                            {% if form2.errors %}
                              <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                  {% for key, value in form2.errors.items %}
                                    <strong>{{ value }}{{ key }}</strong>
                                  {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              </div>
                            {% endif %}

                            <div class="col-md-6">
                                <label for="id_instagram" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.instagram.label }}</label>
                                {{ form2.instagram }}
                              </div>

                              <div class="col-md-6">
                                <label for="id_twitter" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.twitter.label }}</label>
                                {{ form2.twitter }}
                              </div>

                              <div class="col-md-6">
                                <label for="id_facebook" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.facebook.label }}</label>
                                {{ form2.facebook }}
                              </div>

                              <div class="col-md-6">
                                <label for="id_github" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.github.label }}</label>
                                {{ form2.github }}
                              </div>

                              <div class="col-md-6">
                                <label for="id_youtube" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.youtube.label }}</label>
                                {{ form2.youtube }}
                              </div>

                              <div class="col-md-6">
                                <label for="id_linkedIn" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form2.linkedIn.label }}</label>
                                {{ form2.linkedIn }}
                              </div>

                            <div class="col-12">
                              <button class="button -md -purple-1 text-white">Save Social Profile</button>
                            </div>
                          </form>
                        </div>

                        {% if user.is_staff == False and user.is_superuser == False %}
                          <div class="tabs__pane -tab-item-3">

                                                      <style>
                              .tDiv{
                                width:100%;
                                overflow-x:scroll;
                              }

                              {% comment %} .dif{
                                display:block!important;
                              } {% endcomment %}

                              .wt{
                                min-width:30px!important;
                                height:30px!important;
                                padding:8px!important;
                                float:left!important;
                                margin:5px;
                              }

                              .menusuboper{
                                width: 195px;
                                height:40px;
                                float: left;
                              }

                              .c{
                                color: white!important;
                              }

                              table.table td{
                                padding: 10px;
                              }
                            </style>

                            <div class="tDiv">
                              <div class="table-responsive">
                                <table class="table" style="margin-top:25px; padding: 0px;">
                                  <thead>
                                    <tr>
                                      <th>№</th>
                                      <th>Təlimlər</th>
                                      <th>Təlim şəkili</th>
                                      <th>Qruplar</th>
                                      <th>Ortalama balı</th>
                                      <th>Ödəniş</th>
                                      <th>Endirim</th>
                                      <th>Qalıq</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>

                                    {% for course in my_course %}
                                      <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ course.course.title }}</td>
                                        <td><img width="50" height="50" src="{{ course.course.main_photo.url }}" alt=""></td>
                                        <td>{{ course.group.name }}</td>
                                        <td>{{ course.average }}</td>
                                        <td>{{ course.payment }}</td>
                                        <td>{{ course.discount }}</td>
                                        <td>{{ course.rest }}</td>
                                        <td>
                                          {% if course.is_active %}
                                            <span style="color: green;">Aktiv</span>
                                            {% else %}
                                            <span style="color: red;">Deaktiv</span>
                                          {% endif %}
                                        </td>
                                      </tr>
                                    {% endfor %}

                                  </tbody>
                                </table>
                              </div>
                            </div>

                          </div>
                        {% endif %}
                        {% comment %} <div class="tabs__pane -tab-item-4">
                          <div class="row y-gap-10 ">
                            <div class="col-auto">
                              <div class="d-flex flex-wrap y-gap-10 x-gap-20">
                                <div>
                                </div>
                                <div>
                                  <a href="{% url "service_image_add" %}" class="button -icon -purple-3 h-50 text-purple-1" title="Əlavə et" style="background:#5cb85c;color:white!important;">
                                    Əlavə et &nbsp;&nbsp; &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row y-gap-30 pt-30">

                            {% for c in certificates %}

                            <div class="w-1/5 xl:w-1/3 lg:w-1/2 sm:w-1/1">

                              <div class="relative">
                                {% if c.extension == ".pdf" %}

                                <a target="_blank" href="{{ c.url }}"><img class="rounded-8 w-1/1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png" alt="image" width="300px" style="height: 160px!important; object-fit: contain;"></a>
                                <div class="absolute-button  -dshb-more js-more-{{ c.pk }}-toggle">
                                  <div class=" bg-white -dark-bg-dark-2 shadow-1 border-light rounded-8">
                                    <form method="post" action="#">
                                      {% csrf_token %}
                                      <button  class="rounded-8 delBut" type="submit" onclick="return confirm('Şəkili tam silmək istədiyinizə əminsiniz?');">
                                        <i class="fa fa-trash c" aria-hidden="true">asasas</i> 
                                      </button>
                                    </form>
                                  </div>
                                </div>
                                {% else %}
                                <img target="_blank" class="rounded-8 w-1/1" src="{{ c.certificate.url }}" alt="image" width="300px" style="height: 160px!important; object-fit: cover;">
                                <div class="absolute-button  -dshb-more js-more-{{ c.pk }}-toggle">
                                  <div class=" bg-white -dark-bg-dark-2 shadow-1 border-light rounded-8">
                                    <form method="post" action="#">
                                      {% csrf_token %}
                                      <button  class="rounded-8 delBut" type="submit" onclick="return confirm('Şəkili tam silmək istədiyinizə əminsiniz?');">
                                        <i class="fa fa-trash c" aria-hidden="true"></i> 
                                      </button>
                                    </form>
                                  </div>
                                </div>
                                {% endif %}
                                
                                
                                
                              </div>
                            </div>

                            {% endfor %}

                          </div>


                        </div> {% endcomment %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% comment %} <footer class="footer -dashboard py-30">
              <div class="row items-center justify-between">
                <div class="col-auto">
                  <div class="text-13 lh-1">© 2022 Educrat. All Right Reserved.</div>
                </div>

              </div>
            </footer> {% endcomment %}
          </div>
        </div>
      </div>
    </main>

  </div>
  <!-- barba container end -->

  <!-- JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <script src="{% static '' %}js/vendors.js"></script>
  <script src="{% static '' %}js/main.js"></script>
</body>

</html>