{% extends 'base2.html' %}
{% load static %}
{% block content %}

  <div class="dashboard__main">
    <div class="dashboard__content bg-light-4">
      <div class="row pb-50 mb-10">
        <div class="col-auto">

          <h1 class="text-30 lh-12 fw-700">Haqqımızda</h1>

        </div>
      </div>

      {% include "messages.html" %}

      <div class="row y-gap-30">
        <div class="col-12">
          <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
            <div class="tabs -active-purple-2 js-tabs">
              <div class="tabs__controls d-flex items-center pt-20 px-30 border-bottom-light js-tabs-controls">
                <button class="text-light-1 lh-12 tabs__button js-tabs-button is-active" data-tab="tab1" data-tab-target=".-tab-item-1" type="button">
                  Haqqımızda
                </button>
                <button class="text-light-1 lh-12 tabs__button js-tabs-button ml-30" data-tab="tab2" data-tab-target=".-tab-item-2" type="button">
                  Əlaqə məlumatları
                </button>
              </div>

              <div class="tabs__content py-30 px-30 js-tabs-content">
                <div class="tabs__pane -tab-item-1 is-active" data-pane="tab1">
                  <div class="row y-gap-10 ">
                    <div class="col-auto">
                      <div class="d-flex flex-wrap y-gap-10 x-gap-20">
                        <div>
                        </div>
                        <div>
                          <a href="{% url "about_us_edit" %}" class="button -icon -purple-3 h-50 text-purple-1" title="Əlavə et" style="background:#5cb85c;color:white!important;">
                            Redaktə et &nbsp;&nbsp; &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                        <div class="py-30 px-30">

                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <td><strong>Başlıq</strong></td>
                                <td>{{ about.title }}</td>
                              </tr>
                              <tr>
                                <td><strong>Məzmun</strong></td>
                                <td>{{ about.content|safe }}</td>
                              </tr>
                              <tr>
                                <td><strong>Şəkil 1</strong></td>
                                <td><img src="{{ about.img1.url }}" alt="{{ about.title }}"></td>
                              </tr>
                              {% comment %} <tr>
                                <td><strong>Şəkil 2</strong></td>
                                <td><img src="{{ about.img2.url }}" alt="{{ about.title }}"></td>
                              </tr>
                              <tr>
                                <td><strong>Şəkil 3</strong></td>
                                <td><img src="{{ about.img3.url }}" alt="{{ about.title }}"></td>
                              </tr> {% endcomment %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tabs__pane -tab-item-2" data-pane="tab2">
                  <div class="row y-gap-10 ">
                    <div class="col-auto">
                      <div class="d-flex flex-wrap y-gap-10 x-gap-20">
                        <div>
                        </div>
                        <div>
                          <a href="{% url "contact_info_edit" %}" class="button -icon -purple-3 h-50 text-purple-1" title="Əlavə et" style="background:#5cb85c;color:white!important;">
                            Redaktə et &nbsp;&nbsp; &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                        <div class="py-30 px-30">
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <td><strong>Başlıq</strong></td>
                                <td>{{ contact_info.title }}</td>
                              </tr>
                              <tr>
                                <td><strong>Ünvan</strong></td>
                                <td><a href="{{ contact_info.location_url }}">{{ contact_info.location }}</a></td>
                              </tr>
                              <tr>
                                <td><strong>Məzmun</strong></td>
                                <td>{{ contact_info.content }}</td>
                              </tr>
                              <tr>
                                <td><strong>Telefon nömrəsi</strong></td>
                                <td>{{ contact_info.phone_number }}</td>
                              </tr>
                              <tr>
                                <td><strong>E-poçt</strong></td>
                                <td>{{ contact_info.email }}</td>
                              </tr>
                              <tr>
                                <td><strong>İnstagram</strong></td>
                                {% if contact_info.instagram %}
                                  <td><a href="{{ contact_info.instagram }}">{{ contact_info.instagram }}</a></td>
                                {% else %}
                                  <td>-----</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td><strong>Twitter</strong></td>
                                {% if contact_info.twitter %}
                                  <td><a href="{{ contact_info.twitter }}">{{ contact_info.twitter }}</a></td>
                                {% else %}
                                  <td>-----</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td><strong>Facebook</strong></td>
                                {% if contact_info.facebook %}
                                  <td><a href="{{ contact_info.facebook }}">{{ contact_info.facebook }}</a></td>
                                {% else %}
                                  <td>-----</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td><strong>Github</strong></td>
                                {% if contact_info.github %}
                                  <td><a href="{{ contact_info.github }}">{{ contact_info.github }}</a></td>
                                {% else %}
                                  <td>-----</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td><strong>YouTube</strong></td>
                                {% if contact_info.youtube %}
                                  <td><a href="{{ contact_info.youtube }}">{{ contact_info.youtube }}</a></td>
                                {% else %}
                                  <td>-----</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td><strong>LinkedIn</strong></td>
                                {% if contact_info.linkedIn %}
                                  <td><a href="{{ contact_info.linkedIn }}">{{ contact_info.linkedIn }}</a></td>
                                {% else %}
                                  <td>-----</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td><strong>TikTok</strong></td>
                                {% if contact_info.tiktok %}
                                  <td><a href="{{ contact_info.tiktok }}">{{ contact_info.tiktok }}</a></td>
                                {% else %}
                                  <td>-----</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td><strong>WhatsApp</strong></td>
                                {% if contact_info.whatsapp %}
                                  <td>{{ contact_info.whatsapp }}</td>
                                {% else %}
                                  <td>-----</td>
                                {% endif %}
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock %}