{% extends 'base.html' %}

{% load static %}
{% block content %}


<style>
  
  .wi{
    width: 100%!important; 
    height: 160px!important; 
    object-fit: cover!important;
  }

  .tW:hover{
    color: white!important;
  }
  
  .gallery__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .gallery__item {
    width: calc(95% / 2);
  }
  .gallery__item:not(:nth-child(-n+2)) {
    margin-top: 20px;
  }
  .gallery__item img {
    width: 100%;
    height: auto;
  }
  .gallery__item a {
    transition: .5s;
  }
  .gallery__item a:hover {
    filter: opacity(0.7);
  }
  .gallery__item a:hover img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  }
</style>

    <div class="content-wrapper  js-content-wrapper">


      <section data-anim="fade" class="breadcrumbs ">
        <div class="container">
          <div class="row">
            <div class="col-auto">
              <div class="breadcrumbs__content">

                <div class="breadcrumbs__item ">
                  <a href="#">Home</a>
                </div>

                <div class="breadcrumbs__item ">
                  <a href="#">All courses</a>
                </div>

                <div class="breadcrumbs__item ">
                  <a href="#">User Experience Design</a>
                </div>

                <div class="breadcrumbs__item ">
                  <a href="#">User Interface</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="page-header -type-1">
        <div class="container">
          <div class="page-header__content">
            <div class="row">
              <div class="col-auto">
                <div data-anim="slide-up delay-1">

                  <h1 class="page-header__title">Service Galery</h1>

                </div>

                <div data-anim="slide-up delay-2">

                  <p class="page-header__text">Write an introductory description of the category.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class=" layout-pb-lg">
        <div data-anim="slide-up delay-2" class="container">

          <div class="row y-gap-30">
            {% for galery in galeries %}
            <div class="col-xl-3 col-lg-4 col-md-6">

              <div class="coursesCard -type-1">
                <div class="relative">



                  
                  
                    <div class="coursesCard__image overflow-hidden rounded-8">
                      <ul class="gallery__list">
                        <li class="" style="float: left;">
                          <a href="{{ galery.img.url }}" data-lightbox="group1" data-title="">
                            <img class="wi" wi src="{{ galery.img.url }}" alt="">
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>



              

            </div>
            {% endfor %}
          </div>


          <div class="row justify-center pt-90 lg:pt-50">
            <div class="col-auto">
              <div class="pagination -buttons">
                {% if galeries.has_previous %}
                  <a href="?page=1" class="pagination__button -prev tW">
                    <i class="icon icon-chevron-left"></i>
                  </a>
                {% endif %}
          
                <div class="pagination__count">
                  {% for num in galeries.paginator.page_range %}
                    <a href="?page={{ num }}"
                       {% if galeries.number == num %}class="-count-is-active"{% endif %}>
                      {{ num }}
                    </a>
                  {% endfor %}
                </div>
          
                {% if galeries.has_next %}
                  <a href="?page={{ galeries.next_page_number }}" class="pagination__button -next tW">
                    <i class="icon icon-chevron-right"></i>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>


          {% comment %} <div class="row justify-center pt-90 lg:pt-50">
            <div class="col-auto">
              <div class="pagination -buttons">
                <button class="pagination__button -prev">
                  <i class="icon icon-chevron-left"></i>
                </button>

                <div class="pagination__count">
                  <a href="#">1</a>
                  <a class="-count-is-active" href="#">2</a>
                  <a href="#">3</a>
                  <span>...</span>
                  <a href="#">67</a>
                </div>

                <button class="pagination__button -next">
                  <i class="icon icon-chevron-right"></i>
                </button>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </section>

{% endblock %}