{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .himg{
    height: 160px!important;
    object-fit: cover;
    width: 100%;
  }
</style>

    <div class="content-wrapper js-content-wrapper pt-80">

      <section class="page-header -type-1">
        <div class="container">
          <div class="page-header__content">
            <div class="row justify-center text-center">
              <div class="col-auto">
                <div data-anim="slide-up delay-1">

                  <h1 class="page-header__title">Haqqımızda</h1>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="layout-pt-md layout-pb-md">
        <div data-anim-wrap class="container">
          <div class="row y-gap-50 justify-between items-center">
            <div class="col-lg-4 pr-50 sm:pr-15">
              <div class="composition -type-8">
                <div class="-el-1"><img src="{{ about.img1.url }}" width="100%" class="" alt="image"></div>
                {% comment %} <div class="-el-2"><img src="{{ about.img2.url }}" class="himg" alt="image"></div>
                <div class="-el-3"><img src="{{ about.img3.url }}" class="himg" alt="image"></div> {% endcomment %}
              </div>
            </div>

            <div class="col-lg-8">
              <h2 class="text-30 lh-16">{{ about.title }}</h2>
              <p class="text-dark-1 mt-30">{{ about.content|safe }}</p>
            </div>
          </div>
        </div>
      </section>

      <section class="layout-pt-md layout-pb-md">
        <div class="container">
          <div class="row y-gap-20 justify-center text-center">
            <div class="col-auto">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Rəylər</h2>

                <p class="sectionTitle__text ">Tələbələrimizin təlimlərimiz haqqında rəyləri</p>

              </div>

            </div>
          </div>

          <div class="row justify-center pt-60">
            <div class="col-xl-6 col-lg-8 col-md-10">
              <div class="overflow-hidden js-testimonials-slider">
                <div class="swiper-wrapper">

                  {% for feedback in testimonials %}
                    <div class="swiper-slide h-100">
                      <div data-anim="slide-up" class="testimonials -type-2 text-center">
                        <div class="testimonials__icon">
                          <img src="{% static 'img/misc/quote.svg' %}" alt="quote">
                        </div>
                        <div class="testimonials__text md:text-20 fw-500 text-dark-1">{{ feedback.feedback }}</div>
                        <div class="testimonials__author">
                          <h5 class="text-17 lh-15 fw-500">{{ feedback.first_name }} {{ feedback.last_name }}</h5>
                          <div class="mt-5">Tələbə</div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                </div>

                <div class="pt-60 lg:pt-40">
                  <div class="pagination -avatars row x-gap-40 y-gap-20 justify-center js-testimonials-pagination">

                    {% for f_img in testimonials %}
                      <div class="col-auto">
                        <div class="pagination__item {% if forloop.first %} is-active{% endif %}">
                            {% comment %} <img width="60px" height="60px" {% if f_img.image %} src="{{ f_img.image.url }}" {% endif %} alt="image"> {% endcomment %}
                            <img class="rounded-full" style="width: 85px; height: 85px;" {% if f_img.image %} src="{{ f_img.image.url }}" {% else %} src="{% static 'img/avatars/user-default.png' %}" {% endif %} alt="image">
                        </div>
                      </div>
                    {% endfor %}
                   

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      

{% endblock %}