{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="content-wrapper  js-content-wrapper">

      <section data-anim="fade" class="breadcrumbs ">
        <div class="container">
          <div class="row">
            <div class="col-auto">
              <div class="breadcrumbs__content">

                <div class="breadcrumbs__item ">
                  <a href="#">Home</a>
                </div>

                <div class="breadcrumbs__item ">
                  <a href="#">All courses</a>
                </div>

                <div class="breadcrumbs__item ">
                  <a href="#">User Experience Design</a>
                </div>

                <div class="breadcrumbs__item ">
                  <a href="#">User Interface</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-header -type-1">
        <div class="container">
          <div class="page-header__content">
            <div class="row justify-center text-center">
              <div class="col-auto">
                <div data-anim="slide-up delay-1">

                  <h1 class="page-header__title">About Us</h1>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="layout-pt-md layout-pb-md">
        <div data-anim-wrap class="container">
          <div class="row y-gap-50 justify-between items-center">
            <div class="col-lg-6 pr-50 sm:pr-15">
              <div class="composition -type-8">
                <div class="-el-1"><img src="{{ about.img1.url }}" alt="image"></div>
                <div class="-el-2"><img src="{{ about.img2.url }}" alt="image"></div>
                <div class="-el-3"><img src="{{ about.img3.url }}" alt="image"></div>
              </div>
            </div>

            <div class="col-lg-5">
              <h2 class="text-30 lh-16">{{ about.title }}</h2>
              <p class="text-dark-1 mt-30">{{ about.content|safe }}</p>
            </div>
          </div>
        </div>
      </section>

      <section class="layout-pt-md layout-pb-md">
        <div class="container">
          <div class="row y-gap-20 justify-center text-center">
            <div class="col-auto">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Testimonials</h2>

                <p class="sectionTitle__text ">10,000+ unique online course list designs</p>

              </div>

            </div>
          </div>

          <div class="row justify-center pt-60">
            <div class="col-xl-6 col-lg-8 col-md-10">
              <div class="overflow-hidden js-testimonials-slider">
                <div class="swiper-wrapper">

                  {% for feedback in testimonials %}
                    <div class="swiper-slide h-100">
                      <div data-anim="slide-up" class="testimonials -type-2 text-center">
                        <div class="testimonials__icon">
                          <img src="{% static 'img/misc/quote.svg' %}" alt="quote">
                        </div>
                        <div class="testimonials__text md:text-20 fw-500 text-dark-1">{{ feedback.feedback }}</div>
                        <div class="testimonials__author">
                          <h5 class="text-17 lh-15 fw-500">{{ feedback.first_name }} {{ feedback.last_name }}</h5>
                          <div class="mt-5">Product Manager, Apple Inc</div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}


               

                </div>

                <div class="pt-60 lg:pt-40">
                  <div class="pagination -avatars row x-gap-40 y-gap-20 justify-center js-testimonials-pagination">

                    {% for f_img in testimonials %}
                      <div class="col-auto">
                        <div class="pagination__item is-active">
                          <img width="60px" height="60px" src="{{ f_img.image.url }}" alt="image">
                        </div>
                      </div>
                    {% endfor %}
                    {% comment %} <div class="col-auto">
                      <div class="pagination__item is-active">
                        <img src="{% static 'img/home-3/testimonials/1.png' %}" alt="image">
                      </div>
                    </div>

                    <div class="col-auto">
                      <div class="pagination__item ">
                        <img src="{% static 'img/home-3/testimonials/2.png' %}" alt="image">
                      </div>
                    </div>

                    <div class="col-auto">
                      <div class="pagination__item ">
                        <img src="{% static 'img/home-3/testimonials/3.png' %}" alt="image">
                      </div>
                    </div>

                    <div class="col-auto">
                      <div class="pagination__item ">
                        <img src="{% static 'img/home-3/testimonials/4.png' %}" alt="image">
                      </div>
                    </div>

                    <div class="col-auto">
                      <div class="pagination__item ">
                        <img src="{% static 'img/home-3/testimonials/5.png' %}" alt="image">
                      </div>
                    </div> {% endcomment %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% comment %} <section class="layout-pt-md layout-pb-lg">
        <div data-anim-wrap class="container">
          <div class="row justify-center">
            <div class="col text-center">
              <p class="text-lg text-dark-1">PARTNERS</p>
            </div>
          </div>

          <div class="row y-gap-30 justify-between sm:justify-start items-center pt-60 md:pt-50">

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
              <div class="d-flex justify-center items-center px-4">
                <img class="w-1/1" src="{% static 'img/clients/1.svg' %}" alt="clients image">
              </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
              <div class="d-flex justify-center items-center px-4">
                <img class="w-1/1" src="{% static 'img/clients/2.svg' %}" alt="clients image">
              </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
              <div class="d-flex justify-center items-center px-4">
                <img class="w-1/1" src="{% static 'img/clients/3.svg' %}" alt="clients image">
              </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
              <div class="d-flex justify-center items-center px-4">
                <img class="w-1/1" src="{% static 'img/clients/4.svg' %}" alt="clients image">
              </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
              <div class="d-flex justify-center items-center px-4">
                <img class="w-1/1" src="{% static 'img/clients/5.svg' %}" alt="clients image">
              </div>
            </div>

            <div data-anim-child="slide-up delay-1" class="col-lg-auto col-md-2 col-sm-3 col-4">
              <div class="d-flex justify-center items-center px-4">
                <img class="w-1/1" src="{% static 'img/clients/6.svg' %}" alt="clients image">
              </div>
            </div>

          </div>
        </div>
      </section> {% endcomment %}

{% endblock %}