{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="content-wrapper  js-content-wrapper pt-80" >

      <section class="layout-pt-md layout-pb-lg pb-40">
        <div data-anim-wrap class="container">
          <div class="row y-gap-50 justify-between">
            <div class="col-lg-4">
              <h3 class="text-24 fw-500">{{ info.title }}</h3>
              <p class="mt-25">{{ info.content }}</p>

              <div class="y-gap-30 pt-60 lg:pt-40">

                <div class="d-flex items-center">
                  <div class="d-flex justify-center items-center size-60 rounded-full bg-light-7">
                    <img src="{% static '' %}img/contact-1/1.svg" alt="icon">
                  </div>
                  <a href="{{ info.location_url }}" target="_blank" class="ml-20">{{ info.location }}</a>
                </div>

                <div class="d-flex items-center">
                  <div class="d-flex justify-center items-center size-60 rounded-full bg-light-7">
                    <img src="{% static '' %}img/contact-1/2.svg" alt="icon">
                  </div>
                  <div class="ml-20">{{ info.phone_number }}</div>
                </div>

                <div class="d-flex items-center">
                  <div class="d-flex justify-center items-center size-60 rounded-full bg-light-7">
                    <img src="{% static '' %}img/contact-1/3.svg" alt="icon">
                  </div>
                  <div class="ml-20"><a href="mailto:{{ info.email }}" >{{ info.email }}</a></div>
                </div>

              </div>
            </div>

            <div class="col-lg-7">
              {% comment %} <h3 class="text-24 fw-500">Bizimlə əlaqə üçün.</h3> {% endcomment %}

              {% include 'messages.html' %}

              <form method="post" class="contact-form row y-gap-30 pt-60 lg:pt-40" action="#">

                {% csrf_token %}

                {% if form.errors %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                      {% for key, value in form.errors.items %}
                        <strong style="color:red">{{ value }}</strong>
                      {% endfor %}
                    </div>
                   
                  </div>
                {% endif %}

                <div class="col-md-6">
                  <label for='id_c_fullname' class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form.fullname.label }}</label>
                  {{ form.fullname }}
                </div>
                <div class="col-md-6">
                  <label for='id_email' class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form.email.label }}</label>
                  {{ form.email }}
                </div>
                <div class="col-12">
                  <label for='id_message' class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form.message.label }}</label>
                  {{ form.message }}
                </div>
                <div class="col-12">
                  <button type="submit" name="submit" id="submit" class="button -md -purple-1 text-white">
                    Göndər
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="">
        <div id="map" class="map"></div>
      </section>

      <section class="layout-pt-lg layout-pb-lg bg-light-4 pt-40">
        <div class="container">
          <div class="row justify-center text-center">
            <div class="col-xl-8 col-lg-9 col-md-11">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Tez tez verilən suallar</h2>

              </div>

              <div class="accordion -block text-left pt-60 lg:pt-40 js-accordion">

                {% for faq in faqs %}
                  <div class="accordion__item">
                    <div class="accordion__button">
                      <div class="accordion__icon">
                        <div class="icon" data-feather="plus"></div>
                        <div class="icon" data-feather="minus"></div>
                      </div>
                      <span class="text-17 fw-500 text-dark-1">{{ faq.question }}</span>
                    </div>

                    <div class="accordion__content">
                      <div class="accordion__content__inner">
                        <p>{{ faq.answer }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}