{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
  .wi{
    width: 100%; 
    height: 160px; 
    object-fit: cover;
  }

  .masthead-form input{
    margin-bottom: 0px!important;
  }

  .masthead.-type-2 .masthead-form .masthead-form__group + .masthead-form__group{
    margin-top:15px!important;
  }
</style>
<style>
  .prof{
    background-color: var(--color-dark-1);
    padding: 3px 13px;
    border-radius: 4px;
    color: white!important;
    border: 2px solid transparent;
  }

  .prof:hover{
    background-color: transparent;
    color: var(--color-dark-1)!important;
    border: 2px solid var(--color-dark-1);
  }

  .cix{
    background-color: #F01E00;
    padding: 3px 13px;
    border-radius: 4px;
    color: white!important;
    border: 2px solid #F01E00;
  }

  .cix:hover{
    background-color: transparent;
    color: #F01E00!important;
    border: 2px solid #F01E00;
  }

</style>
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/base.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <title>Texnolab</title>
</head>

<body class="preloader-visible" data-barba="wrapper">
  <!-- preloader start -->
  <div class="preloader js-preloader">
    <div class="preloader__bg"></div>
  </div>
  <!-- preloader end -->


  <main class="main-content  ">

    

    <header data-anim="fade" data-add-bg="" class="header -type-3 js-header">
      <div class="d-flex items-center bg-dark-1 py-10">
        <div class="container-fluid">
          <div class="row y-gap-5 justify-center items-center">
            <div class="col-auto">
              <div class="d-flex x-gap-40 y-gap-10 items-center">
                <div class="d-flex items-center text-white md:d-none">
                  <div class="icon-email mr-10"></div>
                  <div class="text13 lh-1">{{contact.phone_number}}</div>
                </div>
                <div class="d-flex items-center text-white">
                  <div class="icon-email mr-10"></div>
                  <div class="text13 lh-1">{{contact.email}}</div>
                </div>
              </div>
            </div>
  
            <div class="col-auto">
              <div class="d-flex x-gap-30 y-gap-10">
                <div>
                  <div class="d-flex x-gap-20 items-center text-white">
                    {% comment %} <a href="#"><i class="icon-facebook text-11"></i></a>
                    <a href="#"><i class="icon-twitter text-11"></i></a>
                    <a href="#"><i class="icon-instagram text-11"></i></a>
                    <a href="#"><i class="icon-linkedin text-11"></i></a> {% endcomment %}


                    {% if contact.whatsapp  %}
                    <a target="_blank" href="https://api.whatsapp.com/send?phone={{ contact.whatsapp }}">
                     <i class="fa fa-whatsapp"></i>
                   </a>
                    {% endif %}

                    {% if contact.facebook  %}
                    <a target="_blank" href="{{ contact.facebook }}">
                     <i class="icon-facebook text-11"></i>
                   </a>
                    {% endif %}

                    {% if contact.instagram  %}
                    <a target="_blank" href="{{ contact.instagram }}">
                     <i class="icon-instagram text-11"></i>
                   </a>
                    {% endif %}

                    {% if contact.twitter  %}
                    <a target="_blank" href="{{ contact.twitter }}">
                     <i class="icon-twitter text-11"></i>
                    </a>
                    {% endif %}

                    {% if contact.youtube  %}
                    <a target="_blank" href="{{ contact.youtube }}">
                     <i class="fa fa-youtube"></i>
                   </a>
                    {% endif %}

                    {% if contact.linkedIn  %}
                    <a target="_blank" href="{{ contact.linkedIn }}">
                     <i class="icon-linkedin text-11"></i>
                   </a>
                    {% endif %}

                    {% if contact.tiktok  %}
                    <a target="_blank" href="{{ contact.tiktok }}">
                     <img width="14" height="14" src="https://www.picng.com/upload/tiktok/png_tiktok_65576.png" alt="">
                   </a>
                    {% endif %}




                  </div>
                </div>
  
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="header__container py-10">
        
        <div class="row justify-between items-center">

          <div class="col-auto">
            <div class="header-left d-flex items-center">

              <div class="header__logo ">
                <a data-barba href="{% url 'index' %}">
                  <img src="{% static 'img/_texno_imgs/home_logo.png' %}" width="175px" height="50px" alt="logo">
                </a>
              </div>


              {% comment %} <div class="header-search-field ml-30">
                <form action="#">
                  <div class="header-search-field__group">
                    <input type="text" placeholder="What do you want to learn?">
                    <button type="submit">
                      <i class="icon icon-search"></i>
                    </button>
                  </div>
                </form>
              </div> {% endcomment %}
            </div>
          </div>


          <div class="col-auto">
            <div class="header-right d-flex items-center">
              <div class="header-right__icons text-white d-flex items-center">

                <div class="header-menu js-mobile-menu-toggle ">
                  <div class="header-menu__content">
                    <div class="mobile-bg js-mobile-bg"></div>
                    
                    <div class="d-none xl:d-flex items-center px-20 py-20 border-bottom-light">

                      {% if user.is_authenticated %}
                      {% comment %} <a href="{% url 'profile' %}" class="button -sm -white text-dark-1 ml-30">Profil</a> {% endcomment %}
                        {% if user.staff_status == 'Tələbə' %}
                          &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'student_dashboard' %}" class="text-white prof">Tələbə Dashboard</a>
                        {% elif user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}
                          &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'dashboard' %}" class="text-white prof">Dashboard</a>
                        {% elif user.staff_status == 'Müəllim' %}
                          &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'evaluation' %}" class="text-white prof">Qiymətləndirmə</a>
                        {% elif user.staff_status == 'Mentor' %}
                          &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'lab_evaluation' %}" class="text-white prof">Mühəndis işi</a>
                        {% endif %}
                      {% comment %} &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'profile' %}" class="button -sm -white text-dark-1 ml-30">Profil</a> {% endcomment %}
                        <a href="{% url 'logout' %}" class="text-white ml-30 cix">Çıxış</a>
                      {% else %}
                        <a href="{% url 'login' %}" class="text-dark-1">Giriş</a>
                      {% endif %}

                    </div>

                    <div class="menu js-navList">
                      <ul class="menu__nav text-dark-1 -is-active">

                        {% for main in main_menus %}
                          <li {% if main.parent_menu.all %} class="menu-item-has-children" {% endif %}>
                            <a data-barba href="{% if main.url_link == "index" %}{% url 'index' %}{% else %}/{{ main.url_link }}/{% endif %}">{{ main.menu }} {% if main.parent_menu.all %} <i class="icon-chevron-right text-13 ml-10"></i>{% endif %}</a>
                            {% if main.parent_menu.all %}
      
                              <ul class="subnav">
                                <li class="menu__backButton js-nav-list-back">
                                  <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> {{ main.menu }}</a>
                                </li>
                                {% for sub in main.parent_menu.all %}
                                  <li {% if services and sub.url_link == "service" %} class="menu-item-has-children" {% elif b_t and sub.url_link == "course" %} class="menu-item-has-children" {% endif %}>
                                    {% if not services and sub.url_link == "service" %}
                                      <a href="/service">{{ sub.menu }}</a>
                                    {% elif not b_t and sub.url_link == "course" %}
                                      <a href="/course">{{ sub.menu }}</a>
                                    {% else %}
                                      <a href="/{{ sub.url_link }}/">{{ sub.menu }} {% if services and sub.url_link == "service" %} <i class="icon-chevron-right text-13 ml-10"></i> {% elif b_t and sub.url_link == "course" %} <i class="icon-chevron-right text-13 ml-10"></i> {% endif %}</a>
                                    {% endif %}
                                  
                                  {% if services and sub.url_link == "service" %}
                                    <ul class="subnav">
                                      <li class="menu__backButton js-nav-list-back">
                                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> {{ sub.menu }}</a>
                                      </li>
                                      <li>
                                        <a href="{% url "service"%}">Bütün servislər</a>
                                      </li>
                                      {% for sub_in in services %}
                                        <li>
                                          <a href="{% url "service" sub_in.slug %}">{{ sub_in.title }} </a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                  {% elif b_t and sub.url_link == "course" %}
                                    <ul class="subnav">
                                      <li class="menu__backButton js-nav-list-back">
                                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> {{ sub.menu }}</a>
                                      </li>
                                      <li>
                                        <a href="{% url "course"%}">Bütün Təlimlər</a>
                                      </li>
                                      {% for sub_in in b_t %}
                                        <li>
                                          <a href="{% url "course" sub_in.slug %}">{{ sub_in.title }} </a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                  </li>
                                {% endfor %}
                              </ul>
      
                            {% endif %}
                          </li>
      
      
                        {% endfor %}

                      </ul>
                    </div>
                   
                    <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                      <div class="mobile-footer__number ">
                        <div class="text-17 fw-500 text-dark-1">&nbsp;&nbsp;&nbsp;&nbsp;Bizimlə əlaqə</div>
                        <div class="text-17 fw-500 text-purple-1">&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://api.whatsapp.com/send?phone={{contact.phone_number}}">{{contact.phone_number}}</a>
                          <br>
                        </div>
                        <div class="text-17 fw-500 text-dark-1">&nbsp;&nbsp;&nbsp;&nbsp;E-poçt</div>
                        <div class="text-17 fw-500 text-purple-1">&nbsp;&nbsp;&nbsp;&nbsp;{{contact.email}}</div>
                      
                        <div class="text-17 fw-500 text-purple-1 d-flex">
                         {% if contact.facebook  %}
                         <a target="_blank" href="{{ contact.facebook }}" class="d-flex items-center justify-center rounded-full size-40">
                          <i class="fa fa-facebook"></i>
                        </a>
                         {% endif %}

                         {% if contact.instagram  %}
                         <a target="_blank" href="{{ contact.instagram }}" class="d-flex items-center justify-center rounded-full size-40">
                          <i class="fa fa-instagram"></i>
                        </a>
                         {% endif %}

                         {% if contact.twitter  %}
                         <a target="_blank" href="{{ contact.twitter }}" class="d-flex items-center justify-center rounded-full size-40">
                          <i class="fa fa-twitter"></i>
                        </a>
                         {% endif %}

                         {% if contact.youtube  %}
                         <a target="_blank" href="{{ contact.youtube }}" class="d-flex items-center justify-center rounded-full size-40">
                          <i class="fa fa-youtube"></i>
                        </a>
                         {% endif %}

                         {% if contact.linkedIn  %}
                         <a target="_blank" href="{{ contact.linkedIn }}" class="d-flex items-center justify-center rounded-full size-40">
                          <i class="fa fa-linkedin"></i>
                        </a>
                         {% endif %}

                         {% if contact.tiktok  %}
                         <a target="_blank" href="{{ contact.tiktok }}" class="d-flex items-center justify-center rounded-full size-40">
                          <img width="14" height="14" src="https://www.picng.com/upload/tiktok/png_tiktok_65576.png" alt="">
                        </a>
                         {% endif %}

                         {% if contact.whatsapp  %}
                         <a target="_blank" href="https://api.whatsapp.com/send?phone={{ contact.whatsapp }}" class="d-flex items-center justify-center rounded-full size-40">
                          <i class="fa fa-whatsapp"></i>
                        </a>
                         {% endif %}

                          <br>
                        </div>
                        
                       
                      </div>


                      <div class="mobile-socials mt-10">

                        

                      </div>
                    </div>
                  </div>

                  <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
                    <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
                      <div class="icon-close text-dark-1 text-16"></div>
                    </div>
                  </div>

                  <div class="header-menu-bg"></div>
                </div>


                


                <div class="d-none xl:d-block ml-20">
                  <button class="text-dark-1 items-center" data-el-toggle=".js-mobile-menu-toggle">
                    <i class="text-11 icon icon-mobile-menu"></i>
                  </button>
                </div>

              </div>

              <div class="header-right__buttons d-flex items-center ml-30 xl:ml-20 md:d-none">
                {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="button px-30 h-50 -outline-dark-1 text-dark-1">Çıxış</a>
                  {% if user.staff_status == 'Tələbə' %}
                    <a href="{% url 'student_dashboard' %}" class="button px-30 h-50 -dark-1 text-white ml-10">Tələbə Dashboard</a>
                  {% elif user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}
                    <a href="{% url 'dashboard' %}" class="button px-30 h-50 -dark-1 text-white ml-10">Dashboard</a>
                  {% elif user.staff_status == 'Müəllim' %}
                    <a href="{% url 'evaluation' %}" class="button px-30 h-50 -dark-1 text-white ml-10">Qiymətləndirmə</a>
                  {% elif user.staff_status == 'Mentor' %}
                    <a href="{% url 'lab_evaluation' %}" class="button px-30 h-50 -dark-1 text-white ml-10">Mühəndis işi</a>
                  {% endif %}
                {% else %}
                  <a href="{% url 'login' %}" class="button px-30 h-50 -outline-dark-1 text-dark-1">Giriş</a>
                {% endif %}

                {% comment %} {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="button px-30 h-50 -outline-dark-1 text-dark-1">Çıxış</a>
                  <a href="{% url 'profile' %}" class="button px-30 h-50 -dark-1 text-white ml-10">Profil</a>
                {% else %}
                  <a href="{% url 'login' %}" class="button px-30 h-50 -outline-dark-1 text-dark-1">Giriş</a>
                {% endif %} {% endcomment %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </header>


    <div class="content-wrapper  js-content-wrapper">


      <section data-anim-wrap class="masthead -type-2">
        <div class="masthead__bg" >
          <div class="bg-image js-lazy" data-bg="{% if slider.img %}{{ slider.img.url }}{% endif %}"></div>
        </div>

        <div class="container">
          <div class="row y-gap-50 justify-center items-center">
            <div class="col-xl-6 col-lg-11">
              <div class="masthead__content">
                {% comment %} <div data-anim-child="slide-up delay-2" class="masthead__subtitle fw-500 text-green-1 text-17 lh-15">
                  Start learning for free
                </div> {% endcomment %}
                <h1 data-anim-child="slide-up delay-3" class="masthead__title text-white">
                  {{ slider.text }}
                </h1>
                <div data-anim-child="slide-up delay-4" class="masthead__button mt-20">
                  <a href="{% url "all_service" %}" class="button -md -white text-dark-1">Bütün Xidmətlər</a>
                </div>
              </div>
            </div>

            <div class="col-xl-5 col-lg-11">
              <div data-anim-child="slide-up delay-6" class="masthead-form">
                <h4 class="masthead-form__title text-center text-20 lh-15 fw-500 mb-30">
                  Müraciət edin
                </h4>

                {% include "messages.html" %}

                <form method="post" action="#">
                  {% csrf_token %}

                  {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                      <div id="form_errors">
                        {% for key, value in form.errors.items %}
                          <strong>{{ value }}{{ key }}</strong>
                        {% endfor %}
                      </div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                  {% endif %}

                  <div class="masthead-form__group">
                    <label for="id_fullname" >{{ form.fullname.label }}</label>
                    {{ form.fullname }}
                  </div>

                  <div class="masthead-form__group">
                    <label for="id_phone_number" >{{ form.phone_number.label }}</label>
                    {{ form.phone_number }}
                  </div>

                  <div class="masthead-form__group">
                    <label for="id_course" >{{ form.course.label }}</label>
                    {{ form.course }}
                  </div>

                  <div class="masthead-form__group">
                    <button type="submit" class="button -md -dark-1 text-white">Göndər</button>
                  </div>

                  <div class="masthead-form__desc">
                    Təlimlərimizə qoşulmaq üçün aşağıdakı formu doldurun və bizimlə əlaqə qurun. Əməkdaşlarımız tez bir zamanda sizinlə əlaqə saxlayaraq, lazım olan ətraflı məlumatları verməkdə sizə yardımcı olacaqlar.                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% comment %} border-bottom-light {% endcomment %}
      {% comment %} <section class="layout-pt-sm layout-pb-sm ">
        <div class="container">
          <div class="row y-gap-30 justify-between">

            <div class="col-xl-3 col-md-6">
              <div class="d-flex items-center">
                <div class="mr-20">
                  <img src="{% static '' %}img/home-3/masthead/icons/1.svg" alt="icon">
                </div>

                <div>
                  <h4 class="text-20 fw-500">100,000 online courses</h4>
                  <div class="text-dark-1">Explore a variety of fresh topics</div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="d-flex items-center">
                <div class="mr-20">
                  <img src="{% static '' %}img/home-3/masthead/icons/2.svg" alt="icon">
                </div>

                <div>
                  <h4 class="text-20 fw-500">Expert instruction</h4>
                  <div class="text-dark-1">Find the right instructor for you</div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="d-flex items-center">
                <div class="mr-20">
                  <img src="{% static '' %}img/home-3/masthead/icons/3.svg" alt="icon">
                </div>

                <div>
                  <h4 class="text-20 fw-500">Lifetime access</h4>
                  <div class="text-dark-1">Learn on your schedule</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section> {% endcomment %}

      <section class="layout-pt-lg layout-pb-lg pt-40">
        <div class="container">
          <div class="row y-gap-20 justify-center text-center">
            <div class="col-auto">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Tərəfdaşlar</h2>

                {% comment %} <p class="sectionTitle__text ">10,000+ unique online course list designs</p> {% endcomment %}

              </div>

            </div>
          </div>

          <div data-anim-wrap class="pt-60 lg:pt-50">
            <div class="overflow-hidden js-section-slider" data-gap="30" data-loop data-pagination data-slider-cols="xl-6 lg-4 md-3 sm-2">
              <div class="swiper-wrapper">

                {% for partner in partners %}
                  <div class="swiper-slide h-100">
                    <div data-anim-child="slide-left delay-1" class="infoCard -type-1">
                      <div class="infoCard__image">
                        <img src="{{ partner.img.url }}" alt="image">
                      </div>
                      <h5 class="infoCard__title text-17 lh-15 mt-10">{{ partner.title }}</h5>
                    </div>
                  </div>
                {% endfor %}

             

              </div>

              <div class="d-flex justify-center x-gap-15 items-center pt-60 lg:pt-40">
                <div class="col-auto">
                  <div class="pagination -arrows js-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    

      <section class="layout-pt-lg layout-pb-lg section-bg">
        <div class="section-bg__item bg-light-6"></div>

        <div data-anim-wrap class="container">
          <div class="row y-gap-15 justify-between items-center">
            <div class="col-lg-6">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Xidmətlərimiz</h2>

              </div>

            </div>

          </div>

          <div class="relative">
            <div class="overflow-hidden pt-60 lg:pt-50 js-section-slider" data-gap="30" data-loop data-pagination data-nav-prev="js-courses-prev" data-nav-next="js-courses-next" data-slider-cols="xl-4 lg-3 md-2 sm-2">
              <div class="swiper-wrapper">

                {% for service in sercice_home %}
                  <div class="swiper-slide">
                    <div data-anim-child="slide-up delay-2">

                      <div class="coursesCard -type-1 px-10 py-10 border-light bg-white rounded-8">
                        <div class="relative">
                          <div class="coursesCard__image overflow-hidden rounded-8">
                            <img class="w-1/1 wi" src="{{ service.photo.url }}" alt="image">
                            <div class="coursesCard__image_overlay rounded-8"></div>
                          </div>
                        </div>

                        <div class="h-100 px-10 pt-10">
                          <div class="text-17 lh-15 fw-500 text-dark-1 mt-10">{{ service.title }}</div>
                        </div>
                      </div>

                    </div>
                  </div>
                {% endfor %}

               

              </div>
            </div>


            <button class="section-slider-nav -prev -dark-bg-dark-2 -outline-dark-1 -absolute-out size-50 rounded-full xl:d-none js-courses-prev">
              <i class="icon icon-arrow-left text-24"></i>
            </button>

            <button class="section-slider-nav -next -dark-bg-dark-2 -outline-dark-1 -absolute-out size-50 rounded-full xl:d-none js-courses-next">
              <i class="icon icon-arrow-right text-24"></i>
            </button>

          </div>
        </div>
      </section>


      <section class="layout-pt-lg layout-pb-lg">
        <div data-anim-wrap class="container">
          <div class="row y-gap-15 justify-between items-center">
            <div class="col-lg-12">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title text-center">Təlimlər</h2>

                {% comment %} <p class="sectionTitle__text text-center">Yeni təlimlərimiz</p> {% endcomment %}

              </div>

            </div>

          <div class="row y-gap-30 justify-center pt-50">

            {% for course in courses %}
              <div class="col-lg-3 col-md-6">
                <div data-anim-child="slide-up delay-1">

                  <a href="{% url 'course' course.slug %}" class="coursesCard -type-1 border-light rounded-8">
                    <div class="relative">
                      <div class="coursesCard__image overflow-hidden rounded-top-8">
                        <img class="w-1/1 wi" src="{{ course.main_photo.url }}" alt="image">
                        <div class="coursesCard__image_overlay rounded-top-8"></div>
                      </div>
                      <div class="d-flex justify-between py-10 px-10 absolute-full-center z-3">

                      </div>
                    </div>

                    <div class="h-100 pt-15 pb-10 px-20">

                      <div class="text-17 lh-15 fw-500 text-dark-1 mt-10">{{ course.title }}</div>
                      {% comment %} {{ course.description|safe|truncatewords:4 }} {% endcomment %}

                    </div>
                  </a>

                </div>
              </div>
            {% endfor %}

            

          </div>

          <div class="row justify-center pt-60 lg:pt-40">
            <div class="col-auto">

              <a href="{% url "course" %}" class="button px-30 h-50 -outline-dark-1 text-dark-1">
                Bütün təlimlər
                <i class="icon-arrow-top-right text-13 ml-10"></i>
              </a>

            </div>
          </div>
        </div>
      </section>

      <section class="layout-pt-lg layout-pb-lg section-bg">
        <div class="section-bg__item bg-light-6"></div>

        <div class="container">
          <div class="row y-gap-20 justify-center text-center">
            <div class="col-auto">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Rəylər</h2>

                <p class="sectionTitle__text ">Tələbələrimizin təlimlər haqqında rəyləri</p>

              </div>

            </div>
          </div>

          <div class="row justify-center pt-60">
            <div class="col-xl-6 col-lg-8 col-md-10">
              <div class="overflow-hidden js-testimonials-slider">
                <div class="swiper-wrapper">

                {% for feedback in testimonials %}
                  <div class="swiper-slide h-100">
                    <div data-anim="slide-up" class="testimonials -type-2 text-center">
                      <div class="testimonials__icon">
                        <img src="{% static 'img/misc/quote.svg' %}" alt="quote">
                      </div>
                      <div class="testimonials__text md:text-20 fw-500 text-dark-1">{{ feedback.feedback }}</div>
                      <div class="testimonials__author">
                        <h5 class="text-17 lh-15 fw-500">{{ feedback.first_name }} {{ feedback.last_name }}</h5>
                        <div class="mt-5">
                          {% if feedback.is_graduate %} mezun {% else %}telebe{% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}

                </div>

                <div class="pt-60 lg:pt-40">
                  <div class="pagination -avatars row x-gap-40 y-gap-20 justify-center js-testimonials-pagination">

                    {% for f_img in testimonials %}
                    <div class="col-auto">
                      <div class="pagination__item {% if forloop.first %} is-active{% endif %}">
                        <img class="rounded-full" style="width: 85px; height: 85px;" {% if f_img.image %} src="{{ f_img.image.url }}" {% else %} src="{% static 'img/avatars/user-default.png' %}" {% endif %} alt="image">
                      </div>
                    </div>
                  {% endfor %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      

     

      

      <div class="line px-50">
        <div class="line__item bg-light-5"></div>
      </div>

      <section class="layout-pt-lg layout-pb-lg ">
        
        <div data-anim-wrap class="container ">
          <div data-anim-child="slide-left delay-1" class="row y-gap-20 justify-between items-center">
            <div class="col-lg-6">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Xəbərlər</h2>

                <p class="sectionTitle__text ">Yeniliklərimiz haqqında məlumatlar alın</p>

              </div>

            </div>

            <div class="col-auto">

              <a href="{% url "blog" %}" class="button px-30 h-50 -outline-dark-1 text-dark-1">
                Bütün xəbərlər
                <i class="icon-arrow-top-right text-13 ml-10"></i>
              </a>

            </div>
          </div>

          <div class="row y-gap-30 pt-60">

            {% for blog in blogs %}
              <div class="col-lg-3 col-md-6">
                <a href="{% url "blog" blog.slug %}">
                  <div data-anim-child="slide-left delay-2" class="blogCard -type-1">
                    <div class="blogCard__image">
                      <img class="wi" src="{{ blog.photo.url }}" alt="image">
                    </div>
                    <div class="blogCard__content mt-20">
                      <a href="{% url "blog" blog.slug %}" class="blogCard__category">{{ blog.title }}</a>
                      <h4 class="blogCard__title text-17 lh-15 mt-5">{{ blog.description|safe|truncatewords:4 }}</h4>
                      <div class="blogCard__date text-14 mt-5">{{ blog.date|date:"d.m.Y" }}</div>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}

            

          </div>
        </div>
      </section>

      {% comment %} <section class="layout-pt-lg layout-pb-lg mb-90 section-bg">
        <div class="section-bg__item">
          <img class="img-full rounded-16" src="{% static '' %}img/home-3/cta/bg.png" alt="image">
        </div>

        <div class="container">
          <div class="row justify-center text-center">
            <div class="col-xl-5 col-lg-6 col-md-11">

              <div class="sectionTitle -light">

                <h2 class="sectionTitle__title ">Subscribe our Newsletter &</h2>

                <p class="sectionTitle__text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

              </div>

            </div>
          </div>

          <div class="row mt-30 justify-center">
            <div class="col-lg-6">
              <form class="form-single-field -help" action="post">
                <input type="text" placeholder="Your Email...">
                <button class="button -purple-1 text-white" type="submit">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </section> {% endcomment %}
      <style>
        .cl{
          color: white!important;
        }
      </style>
      <footer class="footer -type-1 pt-60 bg-dark-1">
        <div class="container">
          <div class="row y-gap-30 pb-60">
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="footer-header__logo">
                <img src="{% static 'img/_texno_imgs/base_logo.png' %}" width="175px" height="50px" alt="logo">
              </div>

              <div class="mt-30">
                <div class="text-17 text-dark-1 cl">Əlaqə</div>
                <div class="text-17 lh-1 fw-500 text-purple-1 mt-5 cl"><a target="_blank" href="https://api.whatsapp.com/send?phone={{ contact.whatsapp }}">+{{ contact.whatsapp }}</a></div>
              </div>

              <div class="mt-30 pr-20">
                <a href="{{ contact.location_url }}" target="_blank" class="lh-17">{{ contact.location }}</a>
              </div>

              <div class="footer-header-socials mt-30">
                <div class="footer-header-socials__list d-flex items-center">
                  {% if contact.whatsapp  %}
                    <a target="_blank" href="https://api.whatsapp.com/send?phone={{ contact.whatsapp }}" class="size-40 d-flex justify-center items-center">
                     <i class="fa fa-whatsapp"></i>
                   </a>
                    {% endif %}
                    {% if contact.facebook  %}
                      <a target="_blank" href="{{ contact.facebook }}" class="size-40 d-flex justify-center items-center"><i class="icon-facebook"></i></a>
                    {% endif %}
                    {% if contact.twitter  %}
                      <a target="_blank" href="{{ contact.twitter }}" class="size-40 d-flex justify-center items-center"><i class="icon-twitter"></i></a>
                    {% endif %}
                    {% if contact.instagram  %}
                      <a target="_blank" href="{{ contact.instagram }}" class="size-40 d-flex justify-center items-center"><i class="icon-instagram"></i></a>
                    {% endif %}
                    {% if contact.linkedIn  %}
                      <a target="_blank" href="{{ contact.linkedIn }}" class="size-40 d-flex justify-center items-center"><i class="icon-linkedin"></i></a>
                    {% endif %}
                </div>
              </div>
            </div>

            <div class="col-xl-2 col-lg-4 col-md-6">
              <div class="text-17 fw-500 text-dark-1 uppercase mb-25 cl"><a href="{% url 'course' %}">Təlimlər</a></div>
              <div class="d-flex y-gap-10 flex-column">
                {% for t in b_t %}
                  <a href="{% url 'course' t.slug %}">{{ t.title }}</a>
                {% endfor %}
              </div>
            </div>

            <div class="col-xl-2 col-lg-4 col-md-6">
              <div class="text-17 fw-500 text-dark-1 uppercase mb-25 cl"><a href="{% url 'service' %}">Servislər</a></div>
              <div class="row justify-between y-gap-20">
                <div class="col-lg-auto col-md-6">
                  <div class="d-flex y-gap-10 flex-column">
                    {% for s in services|slice:":5" %}
                      <a href="{% url 'service' s.slug %}">{{ s.title }}</a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-auto col-md-6">
              <div class="d-flex y-gap-10 flex-column">
                <a href="{% url 'index' %}">Ana səhifə</a>
                <a href="{% url 'all_service' %}">Xidmətlər</a>
                <a href="{% url 'tim' %}">TIM</a>
                <a href="{% url 'service_galery' %}">Qalereya</a>
                <a href="{% url 'keb' %}">Məzunlar</a>
                <a href="{% url 'contact' %}">Əlaqə</a>
                <a href="{% url 'contact' %}">FAQ</a>
              </div>
            </div>

          </div>

          <div class="py-30 border-top-light">
            <div class="row justify-between items-center y-gap-20">
              <div class="col-auto">
                <div class="footer-footer__copyright h-100" >
                  <p style="text-align: center;">© 2023 Texnolab. Bütün hüquqlar qorunur.</p>
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </footer>


    </div>
  </main>

  <!-- JavaScript -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <script src="{% static '' %}js/vendors.js"></script>
  <script src="{% static '' %}js/main.js"></script>
</body>

</html>