{% extends 'base2.html' %}
{% load static %}
{% block content %}
<style>
  .imp{
    color: red;
  }

  .inpClass{
    outline: none;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    font-size: 15px;
    line-height: 1.5;
    padding: 15px 22px;
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
</style>
          <div class="dashboard__main">
            <div class="dashboard__content bg-light-4">
              <div class="row pb-50 mb-10">
                <div class="col-auto">

                  <h1 class="text-30 lh-12 fw-700">Xəbər əlavə et</h1>
                  <div class="mt-10">Bu bölmədə yeni xəbər əlavə edə bilərsiniz.</div>

                </div>
              </div>


              <div class="row y-gap-60">
                <div class="col-12">
                  <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                    <div class="d-flex items-center py-20 px-30 border-bottom-light">
                      <h2 class="text-17 lh-1 fw-500">Yeni xəbər əlavəsi</h2>
                    </div>

                    <div class="py-30 px-30">
                      <form method="post" class="contact-form row y-gap-30" enctype="multipart/form-data">

                        {% csrf_token %}

                        {% if form.errors %}
                          <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                              {% for key, value in form.errors.items %}
                                <strong>{{ key }}-{{ value }}</strong>
                              {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          </div>
                        {% endif %}

                        <div class="col-12">
                          <label id="a1" for="id_title" class="text-16 lh-1 fw-500 text-dark-1 mb-10">{{ form.title.label }} <span class="imp">*</span></label>
                          {{ form.name }}
                        </div>

                        <div class="row y-gap-20 justify-between pt-15">
                          <div class="col-auto">
                            <button class="button -md -purple-1 text-white">Təsdiq et</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>

              </div>
            </div>

{% endblock %}