{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static "css/vendors.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <style>
    .count_badge{
      padding: 5px;
      min-width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-left: 2px;
      font-size: 12px;
      color: white;
      background: grey;
      display: flex;
      float: left;
      font-weight: bold;
      justify-content: center;
      align-items: center;
    }
    
    .nowrapp{
      display: flex;
      flex-wrap: nowrap;
    }
  </style>
  <title>Texnolab</title>
</head>

<body class="preloader-visible" data-barba="wrapper">
  <!-- preloader start -->
  <div class="preloader js-preloader">
    <div class="preloader__bg"></div>
  </div>
  <!-- preloader end -->

  <!-- barba container start -->
  <div class="barba-container" data-barba="container">


    <main class="main-content">


      <header class="header -dashboard -dark-bg-dark-1 js-header">
        <div class="header__container py-20 px-30">
          <div class="row justify-between items-center">
            <div class="col-auto">
              <div class="d-flex items-center">
                <div class="header__explore text-dark-1">
                  <button class="d-flex items-center js-dashboard-home-9-sidebar-toggle">
                    <i class="icon -dark-text-white icon-explore"></i>
                  </button>
                </div>

                <div class="header__logo ml-30 md:ml-20">
                  <a data-barba href="{% url "index" %}">
                    <img class="-light-d-none" src="{% static 'img/_texno_imgs/base_logo.png' %}" width="175px" height="50px" alt="logo">
                    <img class="-dark-d-none" src="{% static 'img/_texno_imgs/home_logo.png' %}" width="175px" height="50px" alt="logo">
                  </a>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <div class="d-flex items-center">
                

                <div class="d-flex items-center sm:d-none">
                  {% comment %} <div class="relative">
                    <button class="js-darkmode-toggle text-light-1 d-flex items-center justify-center size-50 rounded-16 -hover-dshb-header-light">
                      <i class="text-24 icon icon-night"></i>
                    </button>
                  </div> {% endcomment %}

                  <div class="relative">
                    <button data-maximize class="d-flex text-light-1 items-center justify-center size-50 rounded-16 -hover-dshb-header-light">
                      <i class="text-24 icon icon-maximize"></i>
                    </button>
                  </div>
                </div>

                <div class="relative d-flex items-center ml-10">
                  <a href="#" data-el-toggle=".js-profile-toggle">
                    {% comment %} <img class="size-50" src="" alt="image"> {% endcomment %}
                    <img class="size-50" src="{% if superadmin_avatar %}{{ superadmin_avatar }}{% else %}{% static '' %}img/misc/user-profile.png{% endif %}" alt="image" style="border-radius: 50%;">
                  </a>

                  {% comment %} <div class="toggle-element js-profile-toggle">
                    <div class="toggle-bottom -profile bg-white -dark-bg-dark-1 shadow-4 border-light rounded-8 mt-10">
                      <div class="px-30 py-30">

                        <div class="sidebar -dashboard">

                          <div class="sidebar__item -is-active -dark-bg-dark-2">
                            <a href="{% url "profile" %}" class="d-flex items-center text-17 lh-1 fw-500 -dark-text-white">
                              <i class="text-20 icon-discovery mr-15"></i>
                              Şəxsi kabinet
                            </a>
                          </div>

                          <div class="sidebar__item ">
                            <a href="dshb-courses.html" class="d-flex items-center text-17 lh-1 fw-500 ">
                              <i class="text-20 icon-play-button mr-15"></i>
                              Təlimlərim
                            </a>
                          </div>

                          <div class="sidebar__item ">
                            <a href="{% url "logout" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                              <i class="text-20 icon-power mr-15"></i>
                              Çıxış
                            </a>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div> {% endcomment %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </header>


      <div class="content-wrapper js-content-wrapper">
        <div class="dashboard -home-9 js-dashboard-home-9">
          <div class="dashboard__sidebar scroll-bar-1">


            <div class="sidebar -dashboard">

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'dashboard' as dashboard %}
                <div class="sidebar__item {% if request.path == dashboard or request.path|slice:'/-' == dashboard %}-is-active{% endif %} -dark-bg-dark-2">
                  <a href="{% url "dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 -dark-text-white">
                    <i class="text-20 icon-discovery mr-15"></i>
                    Dashboard
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'course_dashboard' as course_dashboard %}
                <div class="sidebar__item {% if request.path == course_dashboard or request.path|slice:'/-' == course_dashboard %}-is-active{% endif %}">
                  <a href="{% url "course_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-play-button mr-15"></i>
                    Təlimlər
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'course_gallery_dashboard' as course_gallery_dashboard %}
                <div class="sidebar__item {% if request.path == course_gallery_dashboard or request.path|slice:'/-' == course_gallery_dashboard %}-is-active{% endif %}">
                  <a href="{% url "course_gallery_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-play-button mr-15"></i>
                    Təlimlər Qaleriyası
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Müəllim' %}

                {% url 'topic_dashboard' as topic_dashboard %}
                <div class="sidebar__item {% if request.path == topic_dashboard or request.path|slice:'/-' == topic_dashboard %}-is-active{% endif %}">
                  <a href="{% url "topic_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-list mr-15"></i>
                    Təlim Mövzuları
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Müəllim' %}

                {% url 'question_dashboard' as question_dashboard %}
                <div class="sidebar__item {% if request.path == question_dashboard or request.path|slice:'/-' == question_dashboard %}-is-active{% endif %}">
                  <a href="{% url "question_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-list mr-15"></i>
                    Suallar
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'Müəllim' %}

                {% url 'exam_start' as exam_start %}
                <div class="sidebar__item {% if request.path == exam_start or request.path|slice:'/-' == exam_start %}-is-active{% endif %}">
                  <a href="{% url "exam_start" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-list mr-15"></i>
                    İmtahan başlat
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'Müəllim' %}

                {% url 'evaluation' as evaluation %}
                <div class="sidebar__item {% if request.path == evaluation or request.path|slice:'/-' == evaluation %}-is-active{% endif %}">
                  <a href="{% url "evaluation" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-list mr-15"></i>
                    Qiymətləndirmə
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'Müəllim' %}

                {% url 'result' as result %}
                <div class="sidebar__item {% if request.path == result or request.path|slice:'/-' == result %}-is-active{% endif %}">
                  <a href="{% url "result" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-list mr-15"></i>
                    Nəticələr
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'Mentor' %}

                {% url 'lab_evaluation' as lab_evaluation %}
                <div class="sidebar__item {% if request.path == lab_evaluation or request.path|slice:'/-' == lab_evaluation %}-is-active{% endif %}">
                  <a href="{% url "lab_evaluation" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-list mr-15"></i>
                    Lab Qiymətləndirməsi
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'blog_dashboard' as blog_dashboard %}
                <div class="sidebar__item {% if request.path == blog_dashboard or request.path|slice:'/-' == blog_dashboard %}-is-active{% endif %}">
                  <a href="{% url "blog_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-bookmark mr-15"></i>
                    Xəbərlər
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'service_dashboard' as service_dashboard %}
                <div class="sidebar__item {% if request.path == service_dashboard or request.path|slice:'/-' == service_dashboard %}-is-active{% endif %}">
                  <a href="{% url "service_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-message mr-15"></i>
                    Servislər
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'tim_dashboard' as tim_dashboard %}
                <div class="sidebar__item {% if request.path == tim_dashboard or request.path|slice:'/-' == tim_dashboard %}-is-active{% endif %}">
                  <a href="{% url "tim_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-message mr-15"></i>
                    TİM
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'partner_dashboard' as partner_dashboard %}
                <div class="sidebar__item {% if request.path == partner_dashboard or request.path|slice:'/-' == partner_dashboard %}-is-active{% endif %}">
                  <a href="{% url "partner_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-message mr-15"></i>
                    Partnerlər
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'faq_dashboard' as faq_dashboard %}
                <div class="sidebar__item {% if request.path == faq_dashboard or request.path|slice:'/-' == faq_dashboard %}-is-active{% endif %}">
                  <a href="{% url "faq_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-message mr-15"></i>
                    FAQ
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'apply_dashboard' as apply_dashboard %}
                <div class="sidebar__item {% if request.path == apply_dashboard or request.path|slice:'/-' == apply_dashboard %}-is-active{% endif %}">
                  <a href="{% url "apply_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-comment mr-15"></i>
                    Müraciətlər {% if total_count != 0 %}<span class="count_badge"> {% if total_count > 99 %}99+{% else %}{{ total_count }}{% endif %} </span>{% endif %}
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'feedback_dashboard' as feedback_dashboard %}
                <div class="sidebar__item {% if request.path == feedback_dashboard or request.path|slice:'/-' == feedback_dashboard %}-is-active{% endif %}">
                  <a href="{% url "feedback_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-message mr-15"></i>
                    Şərhlər
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'statistic_dashboard' as statistic_dashboard %}
                <div class="sidebar__item {% if request.path == statistic_dashboard or request.path|slice:'/-' == statistic_dashboard %}-is-active{% endif %}">
                  <a href="{% url "statistic_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-list mr-15"></i>
                    Statistika
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'about_dashboard' as about_dashboard %}
                <div class="sidebar__item {% if request.path == about_dashboard or request.path|slice:'/-' == about_dashboard %}-is-active{% endif %}">
                  <a href="{% url "about_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-setting mr-15"></i>
                    Haqqımızda
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'account_dashboard' as account_dashboard %}
                <div class="sidebar__item {% if request.path == account_dashboard or request.path|slice:'/-' == account_dashboard %}-is-active{% endif %}">
                  <a href="{% url "account_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-power mr-15"></i>
                    Tələbələr
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'certificate_dashboard' as certificate_dashboard %}
                <div class="sidebar__item {% if request.path == certificate_dashboard or request.path|slice:'/-' == certificate_dashboard %}-is-active{% endif %}">
                  <a href="{% url "certificate_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-power mr-15"></i>
                    Sertifikatlar
                  </a>
                </div>

              {% endif %}

              {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'gallery_dashboard' as gallery_dashboard %}
                <div class="sidebar__item {% if request.path == gallery_dashboard or request.path|slice:'/-' == gallery_dashboard %}-is-active{% endif %}">
                  <a href="{% url "gallery_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-power mr-15"></i>
                    Qaleriya
                  </a>
                </div>

              {% endif %}

              {% comment %} {% if user.staff_status == 'SuperUser' or user.staff_status == 'Koordinator' %}

                {% url 'subscribe_dashboard' as subscribe_dashboard %}
                <div class="sidebar__item {% if request.path == subscribe_dashboard or request.path|slice:'/-' == subscribe_dashboard %}-is-active{% endif %}">
                  <a href="{% url "subscribe_dashboard" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                    <i class="text-20 icon-power mr-15"></i>
                    Abunələr
                  </a>
                </div>

              {% endif %} {% endcomment %}

              {% url 'logout' as logout %}
              <div class="sidebar__item {% if request.path == logout or request.path|slice:'/-' == logout %}-is-active{% endif %}">
                <a href="{% url "logout" %}" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-power mr-15"></i>
                  Çıxış
                </a>
              </div>

            </div>


          </div>

          {% block content %}
          
          {% endblock %}
                {% comment %} <footer class="footer -dashboard py-30">
                    <div class="row items-center justify-between">
                    <div class="col-auto">
                        <div class="text-13 lh-1">© 2022 Educrat. All Right Reserved.</div>
                    </div>

                    <div class="col-auto">
                        <div class="d-flex items-center">
                        <div class="d-flex items-center flex-wrap x-gap-20">
                            <div>
                            <a href="help-center.html" class="text-13 lh-1">Help</a>
                            </div>
                            <div>
                            <a href="terms.html" class="text-13 lh-1">Privacy Policy</a>
                            </div>
                            <div>
                            <a href="#" class="text-13 lh-1">Cookie Notice</a>
                            </div>
                            <div>
                            <a href="#" class="text-13 lh-1">Security</a>
                            </div>
                            <div>
                            <a href="terms.html" class="text-13 lh-1">Terms of Use</a>
                            </div>
                        </div>

                        <button class="button -md -rounded bg-light-4 text-light-1 ml-30">English</button>
                        </div>
                    </div>
                    </div>
                </footer> {% endcomment %}
                </div>
            </div>
            </div>
        </main>
          
        </div>
        <!-- barba container end -->
      
        <!-- JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <script src="{% static '' %}js/vendors.js"></script>
        <script src="{% static '' %}js/main.js"></script>
      </body>
      
      </html>




      

<script>
  document.addEventListener("DOMContentLoaded", function() {
    
    const tabs = document.querySelectorAll('.tabs__button');
    const panes = document.querySelectorAll('.tabs__pane');
  
    function showTab(tabId) {
      panes.forEach(pane => {
        if (pane.getAttribute('data-pane') === tabId) {
          pane.style.display = 'block';
          pane.classList.add('is-active');
        } else {
          pane.style.display = 'none';
          pane.classList.remove('is-active');
        }
      });
    }
    
    function setActiveTab(tabId) {
      tabs.forEach(tab => {
        if (tab.getAttribute('data-tab') === tabId) {
          tab.classList.add('is-active');
        } else {
          tab.classList.remove('is-active');
        }
      });
    }
    
  
    function handleTabClick(event) {
      
      const clickedTab = event.target;
      const tabId = clickedTab.getAttribute('data-tab');
  
      showTab(tabId);
      setActiveTab(tabId);
  
      // Save selected tab to localStorage
      localStorage.setItem('selectedTab', tabId);
      localStorage.setItem('current_segment', window.location.pathname);
    }
  
    tabs.forEach(tab => {
      tab.addEventListener('click', handleTabClick);
    });
    
    // Check localStorage for previously selected tab
    const selectedTab = localStorage.getItem('selectedTab');
    const current_segment = localStorage.getItem('current_segment');
    
   
    if(current_segment != window.location.pathname){
      localStorage.removeItem('selectedTab');
    }else{
      if (selectedTab) {

        showTab(selectedTab);
        setActiveTab(selectedTab);
      } else {
       
        // If no tab was previously selected, open the first tab and pane by default
        showTab(tabs[0].getAttribute('data-tab'));
        setActiveTab(tabs[0].getAttribute('data-tab'));
      }
    }
    

   
  });


  console.log(window.location.pathname)

 
  
</script>