<!-- reset_password_email.html -->

<p>Parola sıfırlama talebinizi aldık. Aşağıdaki 6 haneli kodu kullanarak hesabınıza yeni bir parola belirleyebilirsiniz:</p>
<h2>{{ verification_code }}</h2>
<p>Bu kodu kullanarak hesabınıza yeni bir parola belirleyebilirsiniz. Aşağıdaki adımları takip edin:</p>
<ol>
    <li>Hesabınıza giriş yapın veya "Parolanızı mı unuttunuz?" seçeneğini tıklayın.</li>
    <li>Aşağıdaki 6 haneli kodu ilgili alana girin: <strong>{{ verification_code }}</strong></li>
    <li>Yeni bir parola belirleyin ve kaydedin.</li>
</ol>
<p>Eğer herhangi bir sorunla karşılaşırsanız, lütfen bizimle iletişime geçmekten çekinmeyin.</p>

