{% extends 'base2.html' %}
{% load static %}
{% block content %}

<style>
  .tDiv{
    width:100%;

  }

  {% comment %} .dif{
    display:block!important;
  } {% endcomment %}

  .wt{
    min-width:30px!important;
    height:30px!important;
    padding:8px!important;
    float:left!important;
    margin:5px;
  }

  .menusuboper{
    width: 195px!important;
    height:40px;
    float: left;
    
  }

  table.table td{
    padding: 10px;
  }

  .c{
    color: white!important;
  }
</style>
  <div class="dashboard__main">
    <div class="dashboard__content bg-light-4">
      <div class="row pb-50 mb-10">
        <div class="col-auto">

          <h1 class="text-30 lh-12 fw-700">Mövzu və Testləri</h1>
          <div class="mt-10">Bütün mövzu və testləri ilə bu bölmədə tanış ola bilərsiniz</div>

        </div>
      </div>

      {% include "messages.html" %}

      <div class="row y-gap-30">
        <div class="col-12">
          <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
            <div class="tabs -active-purple-2 js-tabs">
              <div class="tabs__controls d-flex items-center pt-20 px-30 border-bottom-light js-tabs-controls">
                <button class="text-light-1 lh-12 tabs__button js-tabs-button is-active" data-tab="tab1" data-tab-target=".-tab-item-1" type="button">
                  Təlim Mövzuları
                </button>
                <button class="text-light-1 lh-12 tabs__button js-tabs-button ml-30" data-tab="tab2" data-tab-target=".-tab-item-2" type="button">
                  Silinmiş Təlim Mövzuları
                </button>
                <button class="text-light-1 lh-12 tabs__button js-tabs-button ml-30" data-tab="tab3" data-tab-target=".-tab-item-3" type="button">
                  Mövzu Testləri
                </button>
                <button class="text-light-1 lh-12 tabs__button js-tabs-button ml-30" data-tab="tab4" data-tab-target=".-tab-item-4" type="button">
                  Silinmiş Mövzu Testləri
                </button>
              </div>

              <div class="tabs__content py-30 px-30 js-tabs-content">
                <div class="tabs__pane -tab-item-1 is-active" data-pane="tab1">
                  <div class="row y-gap-10 ">

                    <div class="col-auto">
                      <form class="search-field border-light rounded-8 h-50" action="." method="get">
                          <input class="bg-white -dark-bg-dark-2 pr-50" type="text" name="t" placeholder="Təlim mövzusu axtar" value="{{ request.GET.t }}">
                          <button class="" type="submit">
                              <i class="icon-search text-light-1 text-20"></i>
                          </button>
                      </form>
                    </div>
                    <div class="col-auto">
                      <div class="d-flex flex-wrap y-gap-10 x-gap-20">
                        <div>
                        </div>
                        <div>
                          <a href="{% url "topic_add" %}" class="button -icon -purple-3 h-50 text-purple-1" title="Əlavə et" style="background:#5cb85c;color:white!important;">
                            Əlavə et &nbsp;&nbsp; &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <style>
                    .tDiv{
                      width:100%;
                      overflow-x:scroll;
                    }

                    {% comment %} .dif{
                      display:block!important;
                    } {% endcomment %}

                    .wt{
                      min-width:30px!important;
                      height:30px!important;
                      padding:8px!important;
                      float:left!important;
                      margin:5px;
                    }

                    .menusuboper{
                      width: 135px;
                      height:40px;
                      float: left;
                    }

                    .c{
                      color: white!important;
                    }

                    table.table td{
                      padding: 10px;
                    }
                  </style>

                  <div class="tDiv">
                    <div class="table-responsive">
                      <table class="table" style="margin-top:25px; padding: 0px;">
                        <thead>
                          <tr>
                            <th>№</th>
                            <th>Mövzu adı</th>
                            <th>Təlim adı</th>
                            <th>Test adları</th>
                            <th>Əməliyyatlar</th>
                          </tr>
                        </thead>
                        <tbody>

                          {% for topic in topics %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ topic.topic_title|capfirst }}</td>
                              <td>{{ topic.course.title|capfirst }}</td>
                              <td>{% for test in topic.course_topic_test.all %}{{ test.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                              <td>
                                <div class="menusuboper">
                                  <a href="{% url 'course_topic_look' topic.pk %}" class="button  -icon wt dif -purple-3 h-50 text-purple-1" title="Ətraflı">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                  </a>
                                  <a href="{% url "topic_edit" topic.pk %}" class="button -icon wt dif -purple-3 h-50 text-purple-1" title="Redaktə">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                  <form method="post" action="{% url "topic_delete" topic.pk %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="button -icon wt dif -purple-3 h-50 text-purple-1 c" style="background:#c9302c; color:white" title="Sil">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>

                <div class="tabs__pane -tab-item-2" data-pane="tab2">

                    <div class="row y-gap-10 ">
                      <div class="col-auto">
                        <form class="search-field border-light rounded-8 h-50" action="." method="get">
                            <input class="bg-white -dark-bg-dark-2 pr-50" type="text" name="st" placeholder="Təlim mövzusu axtar" value="{{ request.GET.st }}">
                            <button class="" type="submit">
                                <i class="icon-search text-light-1 text-20"></i>
                            </button>
                        </form>
                      </div>
                    </div>

                    <div class="tDiv">
                      <div class="table-responsive">
                        <table class="table" style="margin-top:25px; padding: 0px;">
                          <thead>
                            <tr>
                              <th>№</th>
                              <th>Mövzu adı</th>
                              <th>Təlim adı</th>
                              <th>Test adları</th>
                              <th>Əməliyyatlar</th>
                            </tr>
                          </thead>
                          <tbody>
  
                            {% for topic in d_topics %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ topic.topic_title|capfirst }}</td>
                                <td>{{ topic.course.title|capfirst }}</td>
                                <td>{% for test in topic.course_topic_test.all %}{{ test.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
  
                                <td style="width: 200px;">
                                  <div class="menusuboper">
                                    <a href="{% url 'course_topic_look' topic.pk %}" class="button  -icon wt dif -purple-3 h-50 text-purple-1" title="Ətraflı">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a href="{% url "topic_edit" topic.pk %}" class="button -icon wt dif -purple-3 h-50 text-purple-1" title="Redaktə">
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <form method="post" action="{% url "topic_undelete" topic.pk %}" style="display: inline; float:left">
                                      {% csrf_token %}
                                      <button type="submit" class="button -icon wt dif -purple-3 h-50 text-purple-1 c" style="background:#3498db; color:white;" title="Bərpa et"><i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Bərpa et 
                                                
                                      </button>
                                    </form>
                                  </div>
                                </td>
                              </tr>
                            {% endfor %}
  
                          </tbody>
                        </table>
                      </div>
                    </div>

                </div>

                <div class="tabs__pane -tab-item-3" data-pane="tab3">

                    <div class="row y-gap-10 ">
                      <div class="col-auto">
                        <form class="search-field border-light rounded-8 h-50" action="." method="get">
                            <input class="bg-white -dark-bg-dark-2 pr-50" type="text" name="tt" placeholder="Mövzu testi axtar" value="{{ request.GET.tt }}">
                            <button class="" type="submit">
                                <i class="icon-search text-light-1 text-20"></i>
                            </button>
                        </form>
                      </div>
                      <div class="col-auto">
                        <div class="d-flex flex-wrap y-gap-10 x-gap-20">
                          <div>
                          </div>
                          <div>
                            <a href="{% url "topic_test_add" %}" class="button -icon -purple-3 h-50 text-purple-1" title="Əlavə et" style="background:#5cb85c;color:white!important;">
                              Əlavə et &nbsp;&nbsp; &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tDiv">
                      <div class="table-responsive">
                        <table class="table" style="margin-top:25px; padding: 0px;">
                          <thead>
                            <tr>
                              <th>№</th>
                              <th>Test adı</th>
                              <th>Təlim adı</th>
                              <th>Əməliyyatlar</th>
                            </tr>
                          </thead>
                          <tbody>
  
                            {% for test in topic_tests %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ test.name|capfirst }}</td>
                                <td>{{ test.course.title|capfirst }}</td>
                                <td style="width: 200px;">
                                  <div class="menusuboper">
                                    {% comment %} <a href="{% url 'course_topic_look' test.pk %}" class="button  -icon wt dif -purple-3 h-50 text-purple-1" title="Ətraflı">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a> {% endcomment %}
                                    <a href="{% url "topic_test_edit" test.pk %}" class="button -icon wt dif -purple-3 h-50 text-purple-1" title="Redaktə">
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <form method="post" action="{% url "topic_test_delete" test.pk %}" style="display: inline;">
                                      {% csrf_token %}
                                      <button type="submit" class="button -icon wt dif -purple-3 h-50 text-purple-1 c" style="background:#c9302c; color:white" title="Sil">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                      </button>
                                    </form>
                                  </div>
                                </td>
                              </tr>
                            {% endfor %}
  
                          </tbody>
                        </table>
                      </div>
                    </div>

                </div>

                <div class="tabs__pane -tab-item-4" data-pane="tab4">

                    <div class="row y-gap-10 ">
                      <div class="col-auto">
                        <form class="search-field border-light rounded-8 h-50" action="." method="get">
                            <input class="bg-white -dark-bg-dark-2 pr-50" type="text" name="stt" placeholder="Mövzu testi axtar" value="{{ request.GET.stt }}">
                            <button class="" type="submit">
                                <i class="icon-search text-light-1 text-20"></i>
                            </button>
                        </form>
                      </div>
                    </div>

                    <div class="tDiv">
                      <div class="table-responsive">
                        <table class="table" style="margin-top:25px; padding: 0px;">
                          <thead>
                            <tr>
                              <th>№</th>
                              <th>Test adı</th>
                              <th>Təlim adı</th>
                              <th>Əməliyyatlar</th>
                            </tr>
                          </thead>
                          <tbody>
  
                            {% for test in d_topic_tests %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ test.name|capfirst }}</td>
                                <td>{{ test.course.title|capfirst }}</td>
  
                                <td style="width: 200px;">
                                  <div class="menusuboper">
                                    {% comment %} <a href="{% url 'course_topic_look' test.pk %}" class="button  -icon wt dif -purple-3 h-50 text-purple-1" title="Ətraflı">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a> {% endcomment %}
                                    <a href="{% url "topic_test_edit" test.pk %}" class="button -icon wt dif -purple-3 h-50 text-purple-1" title="Redaktə">
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <form method="post" action="{% url "topic_test_undelete" test.pk %}" style="display: inline; float:left">
                                      {% csrf_token %}
                                      <button type="submit" class="button -icon wt dif -purple-3 h-50 text-purple-1 c" style="background:#3498db; color:white;" title="Bərpa et"><i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Bərpa et 
                                                
                                      </button>
                                    </form>
                                  </div>
                                </td>
                              </tr>
                            {% endfor %}
  
                          </tbody>
                        </table>
                      </div>
                    </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock %}