{% extends "base3.html" %}
{% load static %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<div class="dashboard__main">
  <div class="dashboard__content bg-light-4">
    <div class="row pb-50 mb-10">
      <div class="col-auto">

        {% comment %} <h1 class="text-30 lh-12 fw-700">İmtahan Qaydaları - <i>{{ student.get_full_name|capfirst }}</i></h1> {% endcomment %}
        <h1 class="text-30 lh-12 fw-700">İmtahan</h1>

      </div>
    </div>
    <div class="row y-gap-30">
      <div class="col-xl-12">
        <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4">
          <div class="d-flex items-center py-20 px-30 border-bottom-light">
            <h2 class="text-17 lh-1 fw-500">İmtahan üçün mövzüların seçilməsi, imtahan müddətinin əlavə edilməsi və imtahanın başlamasına icazə verilməsi səhifəsi.</h2>
          </div>

          <div class="py-5 px-5">
            <div class="mt-40">
              <div class="px-30 py-20 bg-light-7 rounded-8">
                <div class="row x-gap-10">
                  <div class="col-lg-2">
                    <div class="text-purple-1">Qrup adı</div>
                  </div>
                  <div class="col-lg-3">
                    <div class="text-purple-1">Təlim adı</div>
                  </div>
                  <div class="col-lg-2">
                    <div class="text-purple-1">Mövzu adları</div>
                  </div>
                  <div class="col-lg-3">
                    <div class="text-purple-1">Başlama tarixi</div>
                  </div>
                  <div class="col-lg-1">
                    <div class="text-purple-1">İmtahan Müddəti</div>
                  </div>
                  <div class="col-lg-1">
                    <div class="text-purple-1">Status</div>
                  </div>
                </div>
              </div>

              {% for group in groups %}

                <form id="examForm-{{ group.id }}" method="post" action="{% url 'save_exam' %}">
                  {% csrf_token %}
                  <div class="px-30 border-bottom-light">
                    <div class="row x-gap-10 items-center py-25">
                      <div class="col-lg-2">
                        <div class="text-purple-1">{{ group.name|capfirst }}</div>
                      </div>

                      <div class="col-lg-3">
                        <div class="d-flex items-center">
                          <div class="text-dark-1 lh-12 fw-500">{{ group.course.title|capfirst }}</div>
                        </div>
                      </div>

                      <div class="col-lg-2">
                        <div class="d-flex items-center">
                          <select class="js-example-basic-single" name="state" style="width: 100%;">
                            <option value="" >------</option>
                            {% for topic in group.course.course_topic.all %}
                              <option value="{{ topic.id }}" {% if group.course_topic == topic %}selected{% endif %}>{{ topic.topic_title|capfirst }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <input type="datetime-local" value="{{ group.exam_start_time|date:"Y-m-d\TH:i" }}" name="startdate" class="px-5 py-5"style="width: 100%; border: 1px solid #aaa; border-radius: 5px;">
                      </div>

                      <div class="col-lg-1">
                        <input type="number" name="examDuration" value="{{ group.exam_durations }}" class="px-5 py-5" onkeydown="return false" style="width: 100%; border: 1px solid #aaa; border-radius: 5px;" min="0" step="5">
                      </div>

                      <div class="col-lg-1">
                        <div class="d-flex items-center">
                          <div class="form-switch pr-10">
                            <div class="switch" data-switch=".js-switch-content">
                              <input name="startEnd" type="checkbox" {% if group.is_checked %}checked{% endif %}>
                              <span class="switch__slider"></span>
                            </div>
                          </div>
                          {% comment %} <div class="icon-bin"></div> {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>

  <script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();

        $('input[name="startEnd"]').change(function () {
            var form = $(this).closest('form');
            var formData = form.serialize();
            var groupId = form.attr('id').split('-')[1];  // Extract groupId from the form ID

            // Append groupId to the form data
            formData += '&groupId=' + groupId;

            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: formData,
                success: function (data) {
                    // Handle the success response if needed
                    console.log('Form data submitted successfully');
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle the error response if needed
                    console.error('Error submitting form data:', errorThrown);
                }
            });
        });

        // Add this part to handle unchecked state
        $('form').submit(function (event) {
            var form = $(this);
            var startEndCheckbox = form.find('input[name="startEnd"]');
            if (!startEndCheckbox.is(':checked')) {
                // The checkbox is unchecked, so update student status to false
                var groupId = form.attr('id').split('-')[1];  // Extract groupId from the form ID
                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: 'groupId=' + groupId,
                    success: function (data) {
                        // Handle the success response if needed
                        console.log('Form data submitted successfully');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Handle the error response if needed
                        console.error('Error submitting form data:', errorThrown);
                    }
                });
                event.preventDefault();  // Prevent the form from being submitted normally
            }
        });
    });
</script>

{% endblock %}